<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.process.dao.mapper.ProcessTaskDataMapper">
    <select id="getOne" parameterType="java.lang.String" resultType="java.util.HashMap">
        ${sql}
    </select>

    <select id="getList" parameterType="java.lang.String" resultType="java.util.HashMap">
        ${sql}
    </select>

    <select id="getLong" parameterType="java.lang.String" resultType="java.lang.Long">
        ${sql}
    </select>

    <insert id="insertOne">
        insert ignore into ${tableName}
        <foreach collection="columnNameList" item="columnName" open="(" separator="," close=")">
            `${columnName}`
        </foreach>
        values
        <foreach collection="columnValueList" item="columnValue" open="(" separator="," close=")">
            #{columnValue}
        </foreach>
    </insert>

    <insert id="replaceOne">
        replace into ${tableName}
        <foreach collection="columnNameList" item="columnName" open="(" separator="," close=")">
            `${columnName}`
        </foreach>
        values
        <foreach collection="columnValueList" item="columnValue" open="(" separator="," close=")">
            #{columnValue}
        </foreach>
    </insert>
</mapper>