<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.process.dao.mapper.SelectContentByHashMapper">
	<!-- flushInterval、size、readOnly、blocking属性对ehcache不起作用 -->
	<cache type="neatlogic.framework.dao.cache.NeatLogicConcurrentSafeCache">
		<!-- 二选一：TTI 或 TTL（都配的话以 TTL 为准，见下方实现） -->
		<!-- 缓存项在未被访问时的最长存活时间, 基于访问时间的过期 -->
		<!-- <property name="timeToIdleSeconds" value="300"/> -->
		<!-- 缓存项从创建到过期的总时间, 基于创建时间的过期 -->
		<property name="timeToLiveSeconds" value="300"/>
		<!-- Ehcache 堆内条目数 -->
		<property name="heapEntries" value="1000"/>
	</cache>

	<select id="getProcessTaskConfigStringByHash" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT `config` FROM `processtask_config` WHERE `hash` = #{value}
	</select>

	<select id="getProcessTaskConfigListByHashList" parameterType="java.lang.String" resultType="neatlogic.framework.process.dto.ProcessTaskConfigVo">
		SELECT `hash`, `config` FROM `processtask_config`
		WHERE `hash` IN
		<foreach collection="list" item="hash" open="(" separator="," close=")">
			#{hash}
		</foreach>
	</select>

	<select id="getProcessTaskStepConfigByHash" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT
		`config`
		FROM
		`processtask_step_config`
		WHERE `hash` = #{value}
	</select>

	<select id="getProcessTaskStepConfigListByHashList" parameterType="java.lang.String" resultType="neatlogic.framework.process.dto.ProcessTaskStepConfigVo">
		SELECT
			`hash`,
			`config`
		FROM
			`processtask_step_config`
		WHERE `hash` IN
		<foreach collection="list" item="hash" open="(" separator="," close=")">
			#{hash}
		</foreach>
	</select>

	<select id="getProcessTaskContentByHash" parameterType="java.lang.String" resultType="neatlogic.framework.process.dto.ProcessTaskContentVo">
		SELECT
		`hash`,
		`content`
		FROM
		`processtask_content`
		WHERE
		`hash` = #{value}
	</select>

	<select id="getProcessTaskContentListByHashList" parameterType="java.lang.String" resultType="neatlogic.framework.process.dto.ProcessTaskContentVo">
		SELECT
			`hash`,
			`content`
		FROM
			`processtask_content`
		WHERE
			`hash` IN
		<foreach collection="list" item="hash" open="(" separator="," close=")">
			#{hash}
		</foreach>
	</select>

	<select id="getProcessTaskContentStringByHash" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT `content` FROM `processtask_content` WHERE `hash` = #{value}
	</select>

	<select id="getProcessTaskFromContentByHash" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT `content` FROM `processtask_form_content` WHERE `hash` = #{value}
	</select>

	<!--<select id="getProcessTaskFromContentByProcessTaskId" parameterType="java.lang.Long" resultType="java.lang.String">
		SELECT `content` FROM `processtask_form_content` a
		JOIN `processtask_form` b on b.`form_content_hash` = a.`hash`
		WHERE b.`processtask_id` = #{value}
		LIMIT 1
	</select>-->

	<!--<select id="getProcessTaskFromContentCountByHash" parameterType="java.lang.String" resultType="int">
		SELECT COUNT(1) FROM `processtask_form_content` WHERE `hash` = #{value}
	</select>-->

	<select id="checkProcessTaskScoreTempleteConfigIsExists" parameterType="java.lang.String" resultType="int">
		SELECT COUNT(`hash`) FROM `processtask_score_template_config` WHERE `hash` = #{value}
	</select>

	<select id="getProcessTaskScoreTempleteConfigStringIsByHash" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT `config` FROM `processtask_score_template_config` WHERE `hash` = #{value}
	</select>
</mapper>
