<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.process.notify.dao.mapper.NotifyMapper">
	<select id="getNotifyTemplateByUuid" parameterType="java.lang.String" resultType="codedriver.module.process.notify.dto.NotifyTemplateVo">
		SELECT
		`uuid`,
		`name`,
		`title`,
		`content`,
		`type`
		FROM
		`process_notify_template`
		WHERE
		uuid = #{value}
	</select>

	<select id="searchNotifyTemplateCount" parameterType="codedriver.module.process.notify.dto.NotifyTemplateVo" resultType="int">
		SELECT
		COUNT(*)
		FROM `process_notify_template`
		WHERE 1=1
		<if test="type != null and type != ''">
			AND `type` = #{type}
		</if>
		<if test="keyword != null and keyword != ''">
			AND `name` LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</select>

	<select id="searchNotifyTemplate" parameterType="codedriver.module.process.notify.dto.NotifyTemplateVo" resultType="codedriver.module.process.notify.dto.NotifyTemplateVo">
		SELECT
		`uuid`,
		`name`
		FROM `process_notify_template`
		WHERE 1=1
		<if test="type != null and type != ''">
			AND `type` = #{type}
		</if>
		<if test="keyword != null and keyword != ''">
			AND `name` LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="needPage">
			limit #{startNum}, #{pageSize}
		</if>
	</select>
</mapper>