<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.process.workcenter.dao.mapper.WorkcenterMapper">
	
	<resultMap id="workcenterMap" type="codedriver.module.process.workcenter.dto.WorkcenterVo">
		<id column="uuid" property="uuid" />
		<result column="name" property="name" />
		<result column="owner" property="owner" />
		<result column="type" property="type" />
		<result column="sort" property="sort" />
		<result column="condition_config" property="conditionConfig" />
		<collection property="workcenterRoleList" ofType="codedriver.module.process.workcenter.dto.WorkcenterRoleVo">
			<result column="role_name" property="roleName" />
			<result column="user_id" property="userId" />
		</collection>
	</resultMap>
	
	<select id="getWorkcenter"  parameterType="codedriver.module.process.workcenter.dto.WorkcenterVo" resultMap="workcenterMap">
		(SELECT 
		  pw.`uuid`,
		  pw.`name`,
		  pw.`type`,
		  pw.`sort`,
		  pw.`condition_config`,
		  null as `owner`,
		  pwr.`role_name`,
		  pwr.`user_id`
		FROM
		  `process_workcenter` pw 
		   LEFT JOIN `process_workcenter_role` pwr ON pw.`uuid` = pwr.`workcenter_uuid`
		<where>
			pw.`type` = 'system'
			and
			(
			<if test="userId != null and userId != ''">
				pwr.`user_id` = #{userId}
			</if>
			<if test="roleNameList !=null and roleNameList.size()>0">
				OR 
				pwr.`role_name` in
				<foreach collection="roleNameList" item="roleName"  open="(" separator="," close=")">
					#{roleName}
				</foreach>
			</if>
			)
		</where>
		ORDER BY pw.`sort` ASC)
		union
		(SELECT 
		  pw.`uuid`,
		  pw.`name`,
		  pw.`type`,
		  pw.`sort`,
		  pw.`condition_config`,
		  pwo.user_id as `owner`,
		  null as `role_name`,
		  null as `user_id`
		FROM
		  `process_workcenter` pw 
		   LEFT JOIN `process_workcenter_owner` pwo ON pw.`uuid` = pwo.`workcenter_uuid`
		<where>
			pw.`type` = 'custom'
			<if test="owner != null and owner != ''">
			and	pwo.`user_id` = #{owner}
			</if>
			
		</where>
		ORDER BY pw.`sort` ASC)
		
	</select>
	
	<select id="getWorkcenterByNameAndUuid"  parameterType="java.lang.String" resultMap="workcenterMap">
		SELECT 
		  pw.`uuid`,
		  pw.`name`,
		  pw.`type`,
		  pw.`sort`,
		  pw.`condition_config`,
		  pwr.`role_name`,
		  pwr.`user_id`
		FROM
		 	`process_workcenter` pw 
		   	LEFT JOIN `process_workcenter_role` pwr ON pw.`uuid` = pwr.`workcenter_uuid`
		WHERE
			pw.`name` = #{name}
			<if test="uuid != null and uuid != ''">
				and uuid != #{uuid}
			</if>
	</select>
	
	<select id="getWorkcenterConditionConfig" resultType="java.util.HashMap">
		SELECT 
		  pw.`uuid`,
		  pw.`condition_config`
		FROM
		  `process_workcenter` pw 
	</select>
	
	<delete id="deleteWorkcenterByUuid" parameterType="java.lang.String">
		DELETE 
		FROM
		  `process_workcenter`
		WHERE `uuid` = #{workcenterUuid} ;
	</delete>
	
	<delete id="deleteWorkcenterRoleByUuid" parameterType="java.lang.String">
		DELETE 
		FROM
		  `process_workcenter_role`
		WHERE `workcenter_uuid` = #{workcenterUuid} ;
	</delete>
	
	<delete id="deleteWorkcenterOwnerByUuid" parameterType="java.lang.String">
		DELETE 
		FROM
		  `process_workcenter_owner`
		WHERE `workcenter_uuid` = #{workcenterUuid} ;
	</delete>


	<insert id="insertWorkcenter" parameterType="codedriver.module.process.workcenter.dto.WorkcenterVo">
		INSERT INTO `process_workcenter` (
		  `uuid`,
		  `name`,
		  `type`,
		  `sort`,
		  `condition_config`
		) 
		VALUES
		  (
		    #{uuid},
		    #{name},
		    #{type},
		    #{sort},
		    #{conditionConfig}
		  ) ;
	</insert>
	
	<insert id="insertWorkcenterRole" parameterType="codedriver.module.process.workcenter.dto.WorkcenterRoleVo">
		INSERT INTO `process_workcenter_role` (
		  `workcenter_uuid`,
		  `role_name`,
		  `user_id`
		) 
		VALUES
		  (
		    #{workcenterUuid},
		    #{roleName},
		    #{userId}
		  ) ;
	</insert>
	
	<insert id="insertWorkcenterOwner" parameterType="java.lang.String">
		INSERT INTO `process_workcenter_owner` (`workcenter_uuid`, `user_id`) 
		VALUES
		(#{uuid}, #{userId}) ;
	</insert>
	
	<update id="updateWorkcenter" parameterType="codedriver.module.process.workcenter.dto.WorkcenterVo">
		UPDATE 
		  `process_workcenter` 
		SET
		  `name` = #{name},
		   `type` = #{type}
		WHERE `uuid` = #{uuid} ;
	</update>
	
</mapper>