.topo-container {
    width: 100%;
    height: 100%;
    /*background-image: url("../bg2.png");*/
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    overflow: hidden;
    font-family: Arial;
    /* 取消文字选中 */
    /*-moz-user-select: none; !*火狐*!*/
    /*-webkit-user-select: none; !*webkit浏览器*!*/
    /*-ms-user-select: none; !*IE10*!*/
    /*-khtml-user-select: none; !*早期浏览器*!*/
    /*user-select: none;*/
}

.topo-container .hide {
    /*opacity: 0.3!important;*/
    /*display: block!important;*/
    display: none;
}

.topo-container .header {
    padding: 8px 0px;
    width: 100%;
    /*border-bottom: 1px solid #E9E9E9;*/
    height: 42px;
    z-index: 3;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14);
}

.topo-container .header *::before {
    font-size: 16px !important;
}

.topo-container .header .disable {
    color: rgba(0, 0, 0, 0.25);
}

.topo-container .header .icon-select.disable {
    background: #EEEEEE;
}

.topo-container .header .separator {
    margin: 4px;
    border-left: 1px solid #D7D6D6;
    border-right: 1px solid white;
}

.topo-container .header .command {
    width: 27px;
    height: 27px;
    margin: 0px 6px;
    border-radius: 2px;
    padding-left: 4px;
    display: inline-block;
    border: 1px solid rgba(2, 2, 2, 0);
}

.topo-container .header .command:nth-of-type(1) {
    margin-left: 24px;
}

.topo-container .header .command:hover {
    cursor: pointer;
    border: 1px solid #D7D6D6;
}

.topo-container .header .disable:hover {
    cursor: default;
    border: 1px solid rgba(2, 2, 2, 0);
}

.topo-container .container {
    flex: 1;
    position: relative;
}

.topo-container .itempannel {
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: #F7F9FB;
    width: 200px;
    /*padding-top: 3px;*/
    border-right: 1px solid #D7D6D6;
}

.topo-container .itempannel .pannel {
    /*background: #faf6f3;*/
    /*box-shadow: 1px 1px 3px 1px #ccc;*/
    color: #666;
    font-size: 14px;
    /*border-bottom: 1px solid #fbfbfb;*/
    /*box-shadow: 0 1px 1px rgba(0,0,0,0.3);*/
    background-color: #d8d9da;
    padding: 1px 2px 3px 3px;
}

.topo-container .itempannel .item {
    width: 100%;
    height: 36px;
    line-height: 36px;
    border-radius: 5px;
    /*border-top: 1px solid #fbfbfb;*/
    /*border-bottom: 1px solid #d8d9da;*/
    background-image: linear-gradient(rgb(251, 251, 251) 0%, rgb(227, 227, 227) 100%);
    margin-top: 3px;
    /*border-top: 0px solid transparent;*/
    /*border-top: 1px;*/
}

.topo-container .itempannel .item.drag {
    border: 1px solid #d8d9da;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    opacity: 0.5;
}

.topo-container .itempannel .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
}

.topo-container .itempannel .span {
    display: inline-block;
    height: 30px;
}

.topo-container .detailpannel {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: #F7F9FB;
    width: 200px;
    border-left: 1px solid #D7D6D6;
}

.topo-container .detailpannel .pannel {
    /*display: none;*/
}

.topo-container .detailpannel .block-containe {
    padding-top: 20px;
}

.topo-container .detailpannel .input {
    margin-left: 16px;
    padding: 1px 7px;
    height: 24px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 12px;
}

.topo-container .detailpannel .name-input {
    width: 120px;
}

.topo-container .detailpannel .width-input {
    width: 52px;
}

.topo-container .detailpannel .height-input {
    width: 52px;
}

.topo-container .detailpannel .block-container {
    padding: 16px 8px;
}

.topo-container .pickr {
    vertical-align: middle;
    margin-left: 16px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    padding: 2px;
    border-radius: 2px;
}

.topo-container .pickr .pcr-button {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.topo-container .detailpannel .item {
    margin-bottom: 12px;
}

.topo-container .navigator {
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 200px;
    height: 176px;
    z-index: 3;
}

.topo-container .main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.topo-container .main.left-block {
    border-left: 1px solid white;
    left: 200px;
}

.topo-container .main.right-block {
    border-right: 1px solid white;
    right: 200px;
}

.topo-container .pannel-title {
    height: 32px;
    border-top: 1px solid #DCE3E8;
    border-bottom: 1px solid #DCE3E8;
    background: #EBEEF2;
    color: #000;
    line-height: 28px;
    padding-left: 12px;
}

.topo .overflowHide {
    height: 100%;
    width: 100%;
    text-align: center;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-line-clamp: 2;
    line-height: 16px;
}

.topo-container .hide {
    /*opacity: 0.5!important;*/
    /*display: block!important;*/
    display: none;
}

.topo-container .alert-wave1 {
    transform-origin: 0px 0px;
    animation: 1.5s ease 0s infinite normal none running alert-wave1;
    fill: transparent;
}

.topo-container .alert-wave2 {
    transform-origin: 0px 0px;
    animation: 1.5s ease 0s infinite normal none running alert-wave2;
    fill: transparent;
}

@keyframes alert-wave1 {
    from {
        opacity: .6;
        transform: scale(1.2, 1.2);
    }
    to {
        opacity: 0;
        transform: scale(1.8, 1.8);
    }
}

@keyframes alert-wave2 {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }
    to {
        opacity: 0;
        transform: scale(1.4, 1.4);
    }
}

/* context */
.contextualMenu{
    font-size: 13px;
    position: absolute;
    padding: 8px 0;
    background: #ffffff;
    box-shadow: 1px 1px 10px #999;
    border-radius: 3px;
    margin:0;
    list-style: none;
    color: #222;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 10;
}
.contextualMenuHidden{
    left: 100% !important;
}

.contextualMenuItem{
    display: block;
    padding: 5px 8px;
    cursor: default;
}
.contextualMenuItem:hover{
    background: #b4e6ff;
}

.contextualMenuItemIcon{
    float: left;
    width:16px;
    height: 16px;
}
.contextualMenuItemTitle{
    text-align: left;
    line-height: 16px;
    display: inline-block;
    padding: 0px 0px 0px 7px;
}
.contextualMenuItemTip{
    float: right;
    padding: 0px 0px 0px 50px;
    text-align: right;
    line-height: 16px;
}
.contextualMenuItemOverflow{
    float: right;
    width:16px;
    height: 16px;
    padding: 1px 0px 0px 7px;
}
.contextualMenuItemOverflow .contextualMenuItemOverflowLine{
    display: block;
    height: 1px;
    margin: 3px 2px;
    background: #999;
}
.contextualMenuItemOverflow.hidden{
    display: none;
}

.contextualMenuSeperator{
    display: block;
    padding: 5px 5px;
}
.contextualMenuSeperator div{
    width:100%;
    height:1px;
    background: #999;
}

.contextualSubMenu{
    padding: 0;
    margin: 0;
    list-style: none;
    background: rgb(37, 37, 38);
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 100%;
    left: 0;
    transition: left 0.25s;
}

.contextualSubMenu .contextualMenuItem:hover{
    background: #080a79;
}

.contextualHeader{
    border-bottom: 1px solid #999;
}

.contextualHeader input{
    background: transparent;
    color: #cccccc;
    border:none;
    width: 30px;
    height: 30px;
    position: absolute;
    left:0;
    font-weight: bold;
}

.contextualHeader input:hover{
    background: #080a79;
}

.contextualHeader span{
    width:100%;
    text-align: center;
    display: inline-block;
    line-height: 30px;
    font-weight: bold;
}

/* tip */
.topo-container .container .tip {
    position: absolute;
    border: 1px solid #ececec;
    background: white;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
}

.topo-container .container .tip-con {
    max-width: 560px;
    max-height: 340px;
    min-width: 180px;
    overflow: auto;
}
.topo-container .container .tip-arrow {
    position: absolute;
}
.topo-container .container .tip-arrow:after {
    content: '';
    display: block;
    position: absolute;
}
.topo-container .container .tip.top {
     margin-top: -10px;
 }
.topo-container .container .tip.top .tip-arrow {
    border-top: 10px solid #ececec;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

.topo-container .container .tip.top .tip-arrow:after{
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 50%;
    margin-left: -10px;
    bottom: 2px;
}

.topo-container .container .tip.right {
    margin-left: 10px;
}
.topo-container .container .tip.right .tip-arrow {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ececec;
    top: 50%;
    left: -10px;
    margin-top: -10px;
}

.topo-container .container .tip.right .tip-arrow:after{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    top: 50%;
    margin-top: -10px;
    left: 2px;
}

.topo-container .container .tip.left {
    margin-left: -10px;
}
.topo-container .container .tip.left .tip-arrow {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ececec;
    top: 50%;
    right: -10px;
    margin-top: -10px;
}

.topo-container .container .tip.left .tip-arrow:after{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    top: 50%;
    margin-top: -10px;
    right: 2px;
}

.topo-container .container .tip.bottom {
    margin-top: 10px;
}

.topo-container .container .tip.bottom .tip-arrow {
    border-bottom: 10px solid #ececec;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 50%;
    top: -10px;
    margin-left: -10px;
}

.topo-container .container .tip.bottom  .tip-arrow:after{
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 50%;
    margin-left: -10px;
    top: 2px;
}

.topo-container .transitionLinear {
    transition-timing-function: linear;
    transition-duration: 700ms;
}