
.channelType{
	color: #fff;
    border-radius: 20%;
    display: inline-block;
    width: 18px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    text-align: center;
    font-family: serif;
    margin-right: 2px;	
}   
.nav-list li>a {
	color: #374051;
	display: block;
	height: 40px;
	line-height: 40px;
	padding:0 30px 0 26px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
}
.nav-list li.unactive>a{
	opacity:.7;
	color:#666;
}
.nav-list a .num {
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #fff;
	min-width: 20px;
	padding: 0 3px;
	text-align: center;
	border-radius: 40px;
	background: #f7b538;
	float: right;
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -8px;
	display:none;
}

.nav-list li>a:hover {
	color:#295bd6;
}

.nav-list .active>a {
	background: #ebf0ff;
	color:#295bd6;
}
.nav-list .active>a:after{
	right:auto;
	left:6px;
}

.nav-list li {
	position: relative;
}

.nav-list .done:after {
	content: "\e6bd";
	font-family: "kf5";
	height: 22px;
	width: 22px;
	line-height: 22px;
	text-align: center;
	border-radius: 100%;
	background: #21d376;
	color: #fff;
	position: absolute;
	right: 18px;
	top: 50%;
	margin-top: -11px
}
/*流程状态*/
[class^="task-status-"], [class*=" task-status-"] {
	border-radius: 2px;
	font-size: 12px;
	padding: 2px 3px;
	margin-bottom: 3px;
	display: inline-block;
}

.task-status-1002 {
	background-color: #5CB85C;
	color: #fff;
}

.task-status-1001 {
	background-color: #5BC0DE;
	color: #fff;
}

.task-status-1003 {
	background-color: #D9534F;
	color: #fff;
}

.task-status-1005 {
	background-color: #F0AD4E;
	color: #fff;
}

.task-status-1004 {
	background-color: #777;
	color: #fff;
}

.task-status- {
	background-color: #99CCCC;
	color: #fff;
}

/*流程步骤状态*/
.step-status {
	list-style: none;
	white-space: nowrap;
	display: flex;
	margin: 0px;
	padding: 0px;
}

.step-status li {
	overflow: hidden;
	max-width: 120px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.step-status>.step-status-content:first-child {
	max-width: 60%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	/*border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:0px;*/
	padding: 1px 2px 1px 5px;
	background-color: #ededed;
	color: #555;
	margin-bottom: 3px;
}

.step-status>.step-status-content {
	max-width: 40%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	padding: 1px 5px 1px 2px;
	margin-bottom: 3px;
	/*border:1px solid #ccc;*/
}

.step-status .step-status-1021 {
	color: #5BC0DE;
	font-size: 12px;
}

.step-status .step-status-1020 {
	color: #aaa;
	font-size: 12px;
}

.step-status .step-status-1022 {
	color: #5CB85C;
	font-size: 12px;
}

.step-status .step-status-1023 {
	color: #F0AD4E;
	font-size: 12px;
}

.step-status .step-status-1024 {
	color: #D9534F;
	font-size: 12px;
}

.step-status .step-status- {
	color: #99CCCC;
	font-size: 12px;
}

/* 工单页面空白数据添加分类的弹窗 */
.add-block{
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, .04);
    position: fixed;
    top: 0;
    left: 0;
}
.add-block .add-container{
    display:block;
    margin:20% auto;
    background:#fff;

    width:400px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px #c7c4c4;
}
.add-block .add-container #templatediv{
    padding:10px 5px 40px;
}
.add-block .add-container #templatediv #btnAddnewtemplate{
    margin-top:10px;
}
.add-block .add-container h6{
    padding-left:10px;
    height:40px;
    line-height:40px;
    border-bottom:1px solid #eee;
}

.menuUl{
	min-width: 100px;
    padding: 5px 0;	
    font-size: 14px;
    font-size: 1rem;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.menuUl li a{
    display: block;
    padding: 5px 10px;
    clear: both;
    font-weight: normal;
    color: #666666;
    white-space: nowrap;
}

.menuUl li a:hover,.menuUl li a:focus{
    text-decoration: none;
    color: #336eff;
    background-color: #f5f8ff;
}