@font-face {
  font-family: ts;
  src: url('../font/tsfont.eot'); 
  src: url('../font/tsfont.eot?#iefix') format('embedded-opentype'), url('../font/tsfont.woff2') format('woff2'),url('../font/tsfont.woff') format('woff'),url('../font/tsfont.ttf') format('truetype'),url('../font/tsfont.svg?#ts') format('svg'); 
}
[class^="ts-"],[class*=" ts-"],.ts{
  font-family: ts;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  vertical-align: baseline;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.ts-loading{
    animation: tsloading 2s infinite linear;
}
.ts-loading:before{
    content:'\ea56';
}
@keyframes tsloading{
    from{transform: rotate(0deg);}
    to{transform: rotate(359deg);}
}