<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.process.dao.mapper.processtask.ProcessTaskAsyncCreateMapper">

    <select id="getProcessTaskAsyncCreateById" parameterType="java.lang.Long" resultType="neatlogic.framework.process.dto.ProcessTaskAsyncCreateVo">
        SELECT
            `id`,
            `processtask_id` AS processTaskId,
            `title`,
            `status`,
            `config` AS configStr,
            `server_id` AS serverId
        FROM `processtask_async_create`
        WHERE `id` = #{value}
    </select>

    <select id="getProcessTaskAsyncCreateList" parameterType="neatlogic.framework.process.dto.ProcessTaskAsyncCreateVo" resultType="neatlogic.framework.process.dto.ProcessTaskAsyncCreateVo">
        SELECT
            `id`,
            `processtask_id` AS processTaskId,
            `title`,
            `status`
        FROM `processtask_async_create`
        WHERE `status` = #{status}
          AND `server_id` = #{serverId}
        ORDER BY `id` DESC
        LIMIT #{startNum}, #{pageSize}
    </select>

    <select id="getProcessTaskAsyncCreateCount" parameterType="neatlogic.framework.process.dto.ProcessTaskAsyncCreateVo" resultType="int">
        SELECT
            COUNT(1)
        FROM `processtask_async_create`
        WHERE `status` = #{status}
        AND `server_id` = #{serverId}
    </select>

    <select id="getProcessTaskAsyncCreateFailedList" parameterType="neatlogic.framework.process.dto.ProcessTaskAsyncCreateVo" resultType="neatlogic.framework.process.dto.ProcessTaskAsyncCreateVo">
        SELECT
            `id`,
            `processtask_id` AS processTaskId,
            `title`,
            `status`,
            `config` AS configStr,
            `error`,
            `try_count` AS tryCount,
            `server_id` AS serverId,
            `fcu`,
            `fcd`,
            `lcd`
        FROM `processtask_async_create`
        WHERE `status` IN ('failed', 'redo')
        <if test="keyword != null and keyword != ''">
            AND (`title` LIKE CONCAT('%', #{keyword}, '%') OR `config` LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        ORDER BY `id` DESC
        LIMIT #{startNum}, #{pageSize}
    </select>

    <select id="getProcessTaskAsyncCreateFailedCount" parameterType="neatlogic.framework.process.dto.ProcessTaskAsyncCreateVo" resultType="int">
        SELECT
            COUNT(1)
        FROM `processtask_async_create`
        WHERE `status` IN ('failed', 'redo')
        <if test="keyword != null and keyword != ''">
            AND (`title` LIKE CONCAT('%', #{keyword}, '%') OR `config` LIKE CONCAT('%', #{keyword}, '%'))
        </if>
    </select>

    <insert id="insertProcessTaskAsyncCreate" parameterType="neatlogic.framework.process.dto.ProcessTaskAsyncCreateVo">
        INSERT INTO `processtask_async_create` (
            `id`,
            `processtask_id`,
            `title`,
            `status`,
            `config`,
            `try_count`,
            `server_id`,
            `fcu`,
            `fcd`
        )
        VALUES
            (
                #{id},
                #{processTaskId},
                #{title},
                #{status},
                #{configStr},
                0,
                #{serverId},
                #{fcu},
                NOW(3)
            )
    </insert>

    <update id="updateProcessTaskAsyncCreate" parameterType="neatlogic.framework.process.dto.ProcessTaskAsyncCreateVo">
        UPDATE `processtask_async_create`
        SET
            `status` = #{status},
            `error` = #{error},
            `try_count` = `try_count` + 1,
            `lcd` = NOW(3)
        WHERE `id` = #{id}
    </update>

    <update id="updateProcessTaskAsyncCreateStatusToDoingById" parameterType="java.lang.Long">
        UPDATE `processtask_async_create`
        SET
            `status` = 'doing'
        WHERE `id` = #{id}
    </update>

    <update id="updateProcessTaskAsyncCreateForManualIntervention" parameterType="neatlogic.framework.process.dto.ProcessTaskAsyncCreateVo">
        UPDATE `processtask_async_create`
        SET
        <if test="processTaskId != null">
            `processtask_id` = #{processTaskId},
        </if>
        <if test="title != null and title != ''">
            `title` = #{title},
        </if>
        <if test="status != null and status != ''">
            `status` = #{status},
        </if>
        <if test="serverId != null">
            `server_id` = #{serverId},
        </if>
        <if test="configStr != null and configStr != ''">
            `config` = #{configStr},
        </if>
            `lcd` = NOW(3)
        WHERE `id` = #{id}
    </update>

    <delete id="deleteProcessTaskAsyncCreateById" parameterType="java.lang.Long">
        DELETE FROM `processtask_async_create` WHERE `id` = #{value}
    </delete>

    <delete id="deleteProcessTaskAsyncCreateByIdList" parameterType="java.lang.Long">
        DELETE FROM `processtask_async_create`
        WHERE `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>