<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.process.dao.mapper.processtask.ProcessTaskStaticDataMapper">
    <!-- flushInterval、size、readOnly、blocking属性对ehcache不起作用 -->
    <cache type="neatlogic.framework.dao.cache.NeatLogicConcurrentSafeCache">
        <!-- 二选一：TTI 或 TTL（都配的话以 TTL 为准，见下方实现） -->
        <!-- 缓存项在未被访问时的最长存活时间, 基于访问时间的过期 -->
        <!-- <property name="timeToIdleSeconds" value="300"/> -->
        <!-- 缓存项从创建到过期的总时间, 基于创建时间的过期 -->
        <property name="timeToLiveSeconds" value="60"/>
        <!-- Ehcache 堆内条目数 -->
        <property name="heapEntries" value="1000"/>
    </cache>

    <select id="getProcessTaskFormByProcessTaskId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.process.dto.ProcessTaskFormVo">
        SELECT a.`processtask_id`    as processTaskId,
               a.`form_uuid`         as formUuid,
               a.`form_name`         as formName,
               a.`form_content_hash` as formContentHash,
               b.`content`           as formContent
        FROM `processtask_form` a
                 JOIN `processtask_form_content` b ON b.`hash` = a.`form_content_hash`
        WHERE a.`processtask_id` = #{value}
    </select>

</mapper>
