<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.process.dao.mapper.processtask.ProcessTaskActionMapper">

    <select id="getProcessTaskActionListByProcessTaskStepId" parameterType="java.lang.Long" resultType="neatlogic.framework.process.dto.ProcessTaskActionVo">
        SELECT
            `id`,
            `processtask_id` AS processTaskId,
            `processtask_step_id` AS processTaskStepId,
            `trigger`,
            `integration_uuid` AS integrationUuid,
            `trigger_time` AS triggerTime,
            `status`,
            `error`,
            `config` AS configStr
        FROM `processtask_action`
        WHERE `processtask_step_id` = #{value}
    </select>

    <select id="getProcessTaskActionListByProcessTaskId" parameterType="java.lang.Long" resultType="neatlogic.framework.process.dto.ProcessTaskActionVo">
        SELECT
            `id`,
            `processtask_id` AS processTaskId,
            `processtask_step_id` AS processTaskStepId,
            `trigger`,
            `integration_uuid` AS integrationUuid,
            `trigger_time` AS triggerTime,
            `status`,
            `error`,
            `config` AS configStr
        FROM `processtask_action`
        WHERE `processtask_id` = #{value}
    </select>

    <insert id="insertProcessTaskAction" parameterType="neatlogic.framework.process.dto.ProcessTaskActionVo">
        INSERT INTO `processtask_action` (
            `id`,
            `processtask_id`,
            `processtask_step_id`,
            `trigger`,
            `integration_uuid`,
            `status`,
            `error`,
            `config`,
            `trigger_time`
        )
        VALUES
            (
                #{id},
                #{processTaskId},
                #{processTaskStepId},
                #{trigger},
                #{integrationUuid},
                #{status},
                #{error, typeHandler=CompressHandler},
                #{configStr, typeHandler=CompressHandler},
                NOW(3)
            )
    </insert>
</mapper>
