<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.process.dao.mapper.processtask.ProcessTaskStepDataMapper">
    <select id="getProcessTaskStepDataByProcessTaskIdAndStepId"
            resultType="neatlogic.framework.process.dto.ProcessTaskStepDataVo">
        SELECT `id`,
               `processtask_id`      as processTaskId,
               `processtask_step_id` as processTaskStepId,
               `data`,
               `type`,
               `fcu`
        FROM `processtask_step_data`
        where `processtask_id` = #{processTaskId}
          AND `processtask_step_id` = #{processTaskStepId}
    </select>

    <select id="getProcessTaskStepData" parameterType="neatlogic.framework.process.dto.ProcessTaskStepDataVo"
            resultType="neatlogic.framework.process.dto.ProcessTaskStepDataVo">
        SELECT
        `id`,
        `processtask_id` as processTaskId,
        `processtask_step_id` as processTaskStepId,
        `data`,
        `type`,
        `fcu`
        FROM
        `processtask_step_data`
        <where>
            <if test="processTaskId != null">
                AND `processtask_id` = #{processTaskId}
            </if>
            <if test="processTaskStepId != null">
                AND `processtask_step_id` = #{processTaskStepId}
            </if>
            <if test="type != null and type != ''">
                AND `type` = #{type}
            </if>
            <if test="fcu != null and fcu != ''">
                AND `fcu` = #{fcu}
            </if>
        </where>
        ORDER BY `id` DESC
        LIMIT 1
    </select>

    <select id="getProcessTaskStepDataById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.process.dto.ProcessTaskStepDataVo">
        SELECT
        `id`,
        `processtask_id` as processTaskId,
        `processtask_step_id` as processTaskStepId,
        `data`,
        `type`,
        `fcu`
        FROM `processtask_step_data`
        WHERE `id` = #{value}
    </select>

    <select id="getProcessTaskStepDataId" parameterType="neatlogic.framework.process.dto.ProcessTaskStepDataVo"
            resultType="java.lang.Long">
        SELECT
            `id`
        FROM `processtask_step_data`
        <where>
            <if test="processTaskId != null">
                AND `processtask_id` = #{processTaskId}
            </if>
            <if test="processTaskStepId != null">
                AND `processtask_step_id` = #{processTaskStepId}
            </if>
            <if test="type != null and type != ''">
                AND `type` = #{type}
            </if>
            <if test="fcu != null and fcu != ''">
                AND `fcu` = #{fcu}
            </if>
        </where>
        ORDER BY `id` DESC
        LIMIT 1
    </select>

    <select id="checkProcessTaskStepDataIdIsExists" parameterType="java.lang.Long" resultType="int">
        SELECT COUNT(1) FROM `processtask_step_data` WHERE `id` = #{value}
    </select>

    <select id="searchProcessTaskStepData" parameterType="neatlogic.framework.process.dto.ProcessTaskStepDataVo"
            resultType="neatlogic.framework.process.dto.ProcessTaskStepDataVo">
        SELECT
        `id`,
        `processtask_id` as processTaskId,
        `processtask_step_id` as processTaskStepId,
        `data`,
        `type`,
        `fcu`
        FROM
        `processtask_step_data`
        <where>
            <if test="processTaskId != null and processTaskId != ''">
                AND `processtask_id` = #{processTaskId}
            </if>
            <if test="processTaskStepId != null and processTaskStepId != ''">
                AND `processtask_step_id` = #{processTaskStepId}
            </if>
            <if test="type != null and type != ''">
                AND `type` = #{type}
            </if>
            <if test="fcu != null and fcu != ''">
                AND `fcu` = #{fcu}
            </if>
        </where>
    </select>

    <insert id="replaceProcessTaskStepData" parameterType="neatlogic.framework.process.dto.ProcessTaskStepDataVo">
        REPLACE INTO `processtask_step_data` (`id`,
                                              `processtask_id`,
                                              `processtask_step_id`,
                                              `data`,
                                              `type`,
                                              `fcu`)
        VALUES (#{id},
                #{processTaskId},
                #{processTaskStepId},
                #{dataStr,typeHandler=CompressHandler},
                #{type},
                #{fcu})
    </insert>

    <delete id="deleteProcessTaskStepData" parameterType="neatlogic.framework.process.dto.ProcessTaskStepDataVo">
        DELETE
        FROM `processtask_step_data`
        WHERE `processtask_id` = #{processTaskId}
          AND `processtask_step_id` = #{processTaskStepId}
          AND `type` = #{type}
          AND `fcu` = #{fcu}
    </delete>

    <delete id="deleteProcessTaskStepDataById" parameterType="neatlogic.framework.process.dto.ProcessTaskStepDataVo">
        DELETE
        FROM `processtask_step_data`
        WHERE `id` = #{id}
    </delete>
</mapper>