<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.process.dao.mapper.processtask.ProcessTaskStaticDataMapper">
    <cache type="neatlogic.framework.dao.cache.NeatLogicConcurrentSafeCache" flushInterval="60000" size="1000"/>

    <select id="getProcessTaskFormByProcessTaskId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.process.dto.ProcessTaskFormVo">
        SELECT a.`processtask_id`    as processTaskId,
               a.`form_uuid`         as formUuid,
               a.`form_name`         as formName,
               a.`form_content_hash` as formContentHash,
               b.`content`           as formContent
        FROM `processtask_form` a
                 JOIN `processtask_form_content` b ON b.`hash` = a.`form_content_hash`
        WHERE a.`processtask_id` = #{value}
    </select>

</mapper>