#toast-container {
  position: fixed;
  z-index: 999999;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin: auto;
}
#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin: auto;
}
#toast-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#toast-container > div {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 12px 30px 12px 50px;
  width: 350px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #666666;
  -moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
}
#toast-container > .toast {
  background-color: #ffffff;
}
#toast-container > .toast .toast-title {
  font-weight: bold;
  font-size: 16px;
  font-size: 1.14285714rem;
  padding-bottom: 6px;
}
#toast-container > .toast .toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
#toast-container > .toast .toast-message label {
  color: #336eff;
}
#toast-container > .toast > .toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
}
#toast-container > .toast:before,
#toast-container > .toast.toast-success:before,
#toast-container > .toast.toast-info:before,
#toast-container > .toast.toast-warning:before,
#toast-container > .toast.toast-error:before {
  position: fixed;
  font-family: 'FontAwesome';
  font-size: 25px;
  font-size: 1.78571429rem;
  line-height: 25px;
  float: left;
  padding-right: 0.5em;
  margin: 0.2em 0.5em auto -1.2em;
}
#toast-container > .toast.toast-success:before {
  content: "\f058";
  color: #2ed373;
}
#toast-container > .toast.toast-success > .toast-title {
  color: #2ed373;
}
#toast-container > .toast.toast-success > .toast-progress {
  background-color: #2ed373;
}
#toast-container > .toast.toast-info:before {
  content: "\f059";
  color: #336eff;
}
#toast-container > .toast.toast-info > .toast-title {
  color: #336eff;
}
#toast-container > .toast.toast-info > .toast-progress {
  background-color: #336eff;
}
#toast-container > .toast.toast-warning:before {
  content: "\f06a";
  color: #f7b538;
}
#toast-container > .toast.toast-warning > .toast-title {
  color: #f7b538;
}
#toast-container > .toast.toast-warning > .toast-progress {
  background-color: #f7b538;
}
#toast-container > .toast.toast-error:before {
  content: "\f057";
  color: #e42332;
}
#toast-container > .toast.toast-error > .toast-title {
  color: #e42332;
}
#toast-container > .toast.toast-error > .toast-progress {
  background-color: #e42332;
}
.toast-close-button {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 16px;
  font-size: 1.14285714rem;
  color: #d8d7d7;
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #999999;
  cursor: pointer;
}
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.toast-top-center,
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center,
.toast-bottom-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-top {
  bottom: 12px;
  right: 12px;
}
.toast-top-right {
  top: 50px;
  right: 16px;
}
.toast-bottom,
.toast-bottom-right {
  bottom: 12px;
  right: 12px;
}
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 13em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 20em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 27em;
  }
}
