.WdateDiv {
	position: relative;
	width: 200px;
	font-size: 14px;
	color: #000;
	border: solid 1px #ccc;
	padding: 5px;
	background-color: #fefefe;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-radius: 6px;
}

.WdateDiv2 {
	width: 360px;
}

.WdateDiv .NavImg a, .WdateDiv .yminput, .WdateDiv .yminputfocus,
	.WdateDiv #dpQS {
	background: url(img.png) no-repeat;
}

.WdateDiv .NavImg a {
	float: left;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.WdateDiv .NavImgll a {
	background-position: 0 5px;
}

.WdateDiv .NavImgl a {
	background-position: 0 -10px;
}

.WdateDiv .NavImgr a {
	background-position: 0 -25px;
	float: right;
}

.WdateDiv .NavImgrr a {
	background-position: 0 -40px;
	float: right;
}

.WdateDiv #dpTitle {
	line-height: 0;
	height: 23px;
	padding: 3px 0 0;
}

.WdateDiv .yminput, .WdateDiv .yminputfocus {
	margin-left: 3px;
	width: 50px;
	height: 20px;
	line-height: 16px;
	border: 0px;
	cursor: pointer;
	background-position: 35px -68px;
}

.WdateDiv .yminputfocus {
	background-color: #fff;
	border: solid 1px #D8D8D8;
}

.WdateDiv .menuSel {
	z-index: 1;
	position: absolute;
	background-color: #FFF;
	border: #A3C6C8 1px solid;
	display: none;
}

.WdateDiv .menu {
	background: #fff;
}

.WdateDiv .menuOn {
	color: #fff;
	background: #aaa;
	border-radius:5px;
}

.WdateDiv .MMenu, .WdateDiv .YMenu {
	margin-top: 20px;
	margin-left: -1px;
	width: 68px;
	border: solid 1px #999;
	border-radius:4px;
	padding: 2px;
}

.WdateDiv .MMenu table, .WdateDiv .YMenu table {
	width: 100%;
}

.WdateDiv .MMenu table td, .WdateDiv .YMenu table td {
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	padding: 0;
}

.WdateDiv .Wweek {
	text-align: center;
	background: #DAF3F5;
	border-right: #BDEBEE 1px solid;
}

.WdateDiv td {
	line-height: 20px;
	font-size: 12px;
	color: #999;
	background: #fff;
	cursor: pointer;
	padding: 1px;
}

.WdateDiv .MTitle td {
	line-height: 24px;
	color: #000;
	font-weight: bold;
	cursor: default;
}

.WdateDiv .WdayTable2 {
	border-collapse: collapse;
	border: gray 1px solid;
}

.WdateDiv .WdayTable2 table {
	border: 0;
}

.WdateDiv .WdayTable {
	line-height: 20px;
	color: #13777e;
	background-color: #edfbfb;
}

.WdateDiv .WdayTable td {
	text-align: center;
}

.WdateDiv .Wday {
	color: #323232;
}

.WdateDiv .Wwday {
	color: #65A4F3;
}

.WdateDiv .Wtoday {
	color: red;
	font-weight: bold;
}

.WdateDiv .WspecialDay {
	background-color: #66F4DF;
}

.WdateDiv .WotherDay {
	color: #999;
}

.WdateDiv #dpTime {
	position: relative;
	margin-top: 5px;
}

.WdateDiv #dpTime #dpTimeStr {
	display: inline-block;
	width: 30px;
	color: #333;
}

.WdateDiv #dpTime input {
	width: 25px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #333;
	border: #D9D9D9 1px solid;
	margin: 0;
	padding: 0;
}

.WdateDiv #dpTime .tm {
	width: 7px;
	border: none;
	background: #fefefe;
}

.WdateDiv #dpQS {
	float: left;
	margin-right: 3px;
	margin-top: 6px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background-position: 0 -90px;
}

.WdateDiv #dpControl {
	text-align: right;
	margin-top: 3px;
}

.WdateDiv .dpButton {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #ffffff;
	background-color: #428bca;
	border-color: #357ebd;
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	margin: 2px;
	background-color: #428bca;
	border-color: #357ebd;
}

.WdateDiv .dpButton:hover, .WdateDiv .dpButton:focus, .WdateDiv .dpButton:active,
	.WdateDiv .dpButton.active, .open .dropdown-toggle.dpButton {
	color: #ffffff;
	background-color: #39b3d7;
	border-color: #269abc;
}

.WdateDiv .hhMenu, .WdateDiv .mmMenu, .WdateDiv .ssMenu {
	position: absolute;
	font-size: 12px;
	color: #333;
	border: solid 1px #999;
	border-radius: 4px; background-color : #fff;
	padding: 3px;
	background-color: #fff;
}

.WdateDiv #dpTime .menu, .WdateDiv #dpTime .menuOn {
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	background: #fff;
}

.WdateDiv #dpTime .menuOn {
	background: #aaa;
	border-radius: 8px;
}

.WdateDiv #dpTime td {
	background: #fefefe;
}

.WdateDiv .hhMenu {
	top: -87px;
	left: 32px;
}

.WdateDiv .mmMenu {
	top: -47px;
	left: 32px;
}

.WdateDiv .ssMenu {
	top: -27px;
	left: 32px;
}

.WdateDiv .invalidMenu, .WdateDiv .WinvalidDay {
	color: #aaa;
}

.WdateDiv .WdayOn, .WdateDiv .WwdayOn, .WdateDiv .Wselday, .WdateDiv .WotherDayOn
	{
	background-color: #aaa;
	color: #fff;
	border-radius: 10px;
}

.WdateDiv #dpTime #dpTimeUp, .WdateDiv #dpTime #dpTimeDown {
	display: none;
}