
#container,#_relyCi_container {
    width: 1000px;
    height: 500px;
    position:relative;
}

#left-container,#right-container,#center-container,#left-_relyCi_container,#right-_relyCi_container,#center-_relyCi_container {
    height:500px;
    position:absolute;
    top:0;
}

#left-container,#left-_relyCi_container {
    left:0;
    width:10px;
    color:#686c70;
    text-align: left;
    overflow: auto;
    background-color:#fff;
}

#right-container,#right-_relyCi_container {
    right:0;
    width:400px;
    color:#686c70;
    text-align: left;
    overflow: auto;
}

#right-container h4,#right-_relyCi_container h4{
    text-indent:8px;
}

#center-container,#center-_relyCi_container {
    width:600px;
    left:20px;
    background-color:#fff;
    color:blue;
}

#ciInformation_inner-details ,#_relyCi_inner-details{
    font-size:0.8em;
    list-style:none;
    margin:7px;
    color:blue;
}

#ciInformation ,#ciInformation_rely{
    position:relative;
    width:600px;
    height:500px;
    overflow:hidden;
}

#ciInformation_inner-details ,#_relyCi_inner-details{
  font-size:12px;
}

.text {
    margin: 7px;
}

/*TOOLrely_tipS*/
.rely_tip,._relyCi_tip{
    color: #111;
    width: 139px;
    background-color: blue;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

span.close {
	color:#FF5555;
	cursor:pointer;
	font-weight:bold;
	margin-left:3px;
}

span.name {
  cursor: pointer;
}

/*TOOLrely_tipS*/
.rely_tip {
   text-align: left;
   width:auto;
   max-width:500px;
}

.rely_tip-title {
  font-size: 11px;
  text-align:center;
  margin-bottom:2px;
}

 .center
 {
 	text-align : center;
 }
 
 #ciInfoModal
 {
	width: 1000px;
	margin: -250px 0 0 -300px;
 }
