
.iconStyle
{
	padding:5px;
}
#displayNameHelp
{
	top:210px;
	left:440px;
}


#menuContent ul.ztree 
{
	margin-top: 10px;
	width:200px;
	height:360px;
	overflow-y:scroll;
	overflow-x:auto;
	background-color: #ffffff;
  	border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#iconList{
	display:none;
	border: 1px solid #617775;
	background: #f0f6e4;
	position:absolute;
	top:130px;
	left:350px;
	width:600px;
}

#fileUploadForm{
	display:none;
	border: 1px solid #617775;
	width:400px;
	background: #f0f6e4;
	margin-left:150px;
	margin-top:30px;
}

#iconListModal ,#addIconFormModal{
	/* SET THE WIDTH OF THE MODAL 设置Modal的宽度*/
	width: 800px;
	/* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
	margin: -250px 0 0 -200px;
}