.fc-event {
	background: #3a87ad !important;
	color: #000 !important;
	}
	
/* for vertical events */
	
.fc-event-bg {
	display: none !important;
	}
	
.fc-event .ui-resizable-handle {
	display: none !important;
	}

.label-transparent,.badge-transparent {
    background-color: transparent!important
}

.label-grey,.badge-grey {
    background-color: #a0a0a0!important
}

.label-info,.badge-info {
    background-color: #3a87ad!important
}

.label-primary,.badge-primary {
    background-color: #428bca!important
}

.label-success,.badge-success {
    background-color: #82af6f!important
}

.label-danger,.badge-danger {
    background-color: #d15b47!important
}

.label-important,.badge-important {
    background-color: #d15b47!important
}

.label-inverse,.badge-inverse {
    background-color: #333!important
}

.label-warning,.badge-warning {
    background-color: #f89406!important
}

.label-pink,.badge-pink {
    background-color: #d6487e!important
}

.label-purple,.badge-purple {
    background-color: #9585bf!important
}

.label-yellow,.badge-yellow {
    background-color: #fee188!important
}

.label-light,.badge-light {
    background-color: #e7e7e7!important
}

.badge-yellow,.label-yellow {
    color: #963!important;
    border-color: #fee188
}

.badge-light,.label-light {
    color: #888!important
}

.label.arrowed,.label.arrowed-in {
    position: relative;
    z-index: 1
}

.label.arrowed:before,.label.arrowed-in:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    border: 1px solid transparent;
    border-right-color: #abbac3
}

.label.arrowed-in:before {
    border-color: #abbac3;
    border-left-color: transparent!important
}

.label.arrowed-right,.label.arrowed-in-right {
    position: relative;
    z-index: 1
}

.label.arrowed-right:after,.label.arrowed-in-right:after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    border: 1px solid transparent;
    border-left-color: #abbac3
}

.label.arrowed-in-right:after {
    border-color: #abbac3;
    border-right-color: transparent!important
}

.label-info.arrowed:before {
    border-right-color: #3a87ad
}

.label-info.arrowed-in:before {
    border-color: #3a87ad
}

.label-info.arrowed-right:after {
    border-left-color: #3a87ad
}

.label-info.arrowed-in-right:after {
    border-color: #3a87ad
}

.label-primary.arrowed:before {
    border-right-color: #428bca
}

.label-primary.arrowed-in:before {
    border-color: #428bca
}

.label-primary.arrowed-right:after {
    border-left-color: #428bca
}

.label-primary.arrowed-in-right:after {
    border-color: #428bca
}

.label-success.arrowed:before {
    border-right-color: #82af6f
}

.label-success.arrowed-in:before {
    border-color: #82af6f
}

.label-success.arrowed-right:after {
    border-left-color: #82af6f
}

.label-success.arrowed-in-right:after {
    border-color: #82af6f
}

.label-warning.arrowed:before {
    border-right-color: #f89406
}

.label-warning.arrowed-in:before {
    border-color: #f89406
}

.label-warning.arrowed-right:after {
    border-left-color: #f89406
}

.label-warning.arrowed-in-right:after {
    border-color: #f89406
}

.label-important.arrowed:before {
    border-right-color: #d15b47
}

.label-important.arrowed-in:before {
    border-color: #d15b47
}

.label-important.arrowed-right:after {
    border-left-color: #d15b47
}

.label-important.arrowed-in-right:after {
    border-color: #d15b47
}

.label-danger.arrowed:before {
    border-right-color: #d15b47
}

.label-danger.arrowed-in:before {
    border-color: #d15b47
}

.label-danger.arrowed-right:after {
    border-left-color: #d15b47
}

.label-danger.arrowed-in-right:after {
    border-color: #d15b47
}

.label-inverse.arrowed:before {
    border-right-color: #333
}

.label-inverse.arrowed-in:before {
    border-color: #333
}

.label-inverse.arrowed-right:after {
    border-left-color: #333
}

.label-inverse.arrowed-in-right:after {
    border-color: #333
}

.label-pink.arrowed:before {
    border-right-color: #d6487e
}

.label-pink.arrowed-in:before {
    border-color: #d6487e
}

.label-pink.arrowed-right:after {
    border-left-color: #d6487e
}

.label-pink.arrowed-in-right:after {
    border-color: #d6487e
}

.label-purple.arrowed:before {
    border-right-color: #9585bf
}

.label-purple.arrowed-in:before {
    border-color: #9585bf
}

.label-purple.arrowed-right:after {
    border-left-color: #9585bf
}

.label-purple.arrowed-in-right:after {
    border-color: #9585bf
}

.label-yellow.arrowed:before {
    border-right-color: #fee188
}

.label-yellow.arrowed-in:before {
    border-color: #fee188
}

.label-yellow.arrowed-right:after {
    border-left-color: #fee188
}

.label-yellow.arrowed-in-right:after {
    border-color: #fee188
}

.label-light.arrowed:before {
    border-right-color: #e7e7e7
}

.label-light.arrowed-in:before {
    border-color: #e7e7e7
}

.label-light.arrowed-right:after {
    border-left-color: #e7e7e7
}

.label-light.arrowed-in-right:after {
    border-color: #e7e7e7
}

.label-grey.arrowed:before {
    border-right-color: #a0a0a0
}

.label-grey.arrowed-in:before {
    border-color: #a0a0a0
}

.label-grey.arrowed-right:after {
    border-left-color: #a0a0a0
}

.label-grey.arrowed-in-right:after {
    border-color: #a0a0a0
}

.label {
    font-size: 12px;
    line-height: 1.15;
    height: 20px
}

.label.arrowed {
    margin-left: 5px
}

.label.arrowed:before {
    left: -10px;
    border-width: 10px 5px
}

.label.arrowed-in {
    margin-left: 5px
}

.label.arrowed-in:before {
    left: -5px;
    border-width: 10px 5px
}

.label.arrowed-right {
    margin-right: 5px
}

.label.arrowed-right:after {
    right: -10px;
    border-width: 10px 5px
}

.label.arrowed-in-right {
    margin-right: 5px
}

.label.arrowed-in-right:after {
    right: -5px;
    border-width: 10px 5px
}

.label-lg {
    padding: .3em .6em .4em;
    font-size: 13px;
    line-height: 1.1;
    height: 24px
}

.label-lg.arrowed {
    margin-left: 6px
}

.label-lg.arrowed:before {
    left: -12px;
    border-width: 12px 6px
}

.label-lg.arrowed-in {
    margin-left: 6px
}

.label-lg.arrowed-in:before {
    left: -6px;
    border-width: 12px 6px
}

.label-lg.arrowed-right {
    margin-right: 6px
}

.label-lg.arrowed-right:after {
    right: -12px;
    border-width: 12px 6px
}

.label-lg.arrowed-in-right {
    margin-right: 6px
}

.label-lg.arrowed-in-right:after {
    right: -6px;
    border-width: 12px 6px
}

.label-xlg {
    padding: .3em .7em .4em;
    font-size: 14px;
    line-height: 1.3;
    height: 28px
}

.label-xlg.arrowed {
    margin-left: 7px
}

.label-xlg.arrowed:before {
    left: -14px;
    border-width: 14px 7px
}

.label-xlg.arrowed-in {
    margin-left: 7px
}

.label-xlg.arrowed-in:before {
    left: -7px;
    border-width: 14px 7px
}

.label-xlg.arrowed-right {
    margin-right: 7px
}

.label-xlg.arrowed-right:after {
    right: -14px;
    border-width: 14px 7px
}

.label-xlg.arrowed-in-right {
    margin-right: 7px
}

.label-xlg.arrowed-in-right:after {
    right: -7px;
    border-width: 14px 7px
}

.label-sm {
    padding: .2em .4em .3em;
    font-size: 11px;
    line-height: 1;
    height: 18px
}

.label-sm.arrowed {
    margin-left: 4px
}

.label-sm.arrowed:before {
    left: -8px;
    border-width: 9px 4px
}

.label-sm.arrowed-in {
    margin-left: 4px
}

.label-sm.arrowed-in:before {
    left: -4px;
    border-width: 9px 4px
}

.label-sm.arrowed-right {
    margin-right: 4px
}

.label-sm.arrowed-right:after {
    right: -8px;
    border-width: 9px 4px
}

.label-sm.arrowed-in-right {
    margin-right: 4px
}

.label-sm.arrowed-in-right:after {
    right: -4px;
    border-width: 9px 4px
}

 
.fc-header-title>h2 {
    font-size: 22px;
    color: #65a0ce
}

.fc-widget-header,.fc-widget-content {
    border: 1px solid #bcd4e5
}

.fc-state-highlight {
    background: #FFC
}

.fc-event-skin {
    border: none!important;
    background-color: #abbac3;
    padding: 0 0 1px 2px
}

.label-yellow .fc-event-skin {
    color: #963
}

.label-light .fc-event-skin {
    color: #888
}[class*="label-"]>.fc-event-skin,[class*="label-"]>.fc-event-skin>.fc-event-skin.fc-event-head {
    background-color: inherit
}

.fc-event-skin.ui-draggable-dragging {
    cursor: move
}

.fc-event-skin.fc-event-vert,.fc-event-vert>.fc-event-skin {
    padding: 0 0 1px
}

.fc-grid .fc-day-number {
    color: #2e6589
}

.fc-widget-header {
    background: #ecf2f7;
    color: #8090a0
}

.fc-event-hori,.fc-event-vert {
    border-radius: 0!important;
    border-color: transparent
}

.fc-event-vert .fc-event-content {
    padding-left: 1px;
    padding-right: 1px
}

.fc-event-vert .fc-event-time {
    padding: 0
}

.fc-state-default {
    border: 0
}

.fc-state-default,.fc-state-default .fc-button-inner {
    border: 0;
    background-color: #abbac3;
    color: #FFF;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0!important;
    margin-left: 2px
}

.fc-state-default .fc-button-effect {
    display: none
}

.fc-state-disabled,.fc-state-disabled .fc-button-inner {
    opacity: .75;
    filter: alpha(opacity=75);
    color: #DDD
}

.fc-state-active,.fc-state-active .fc-button-inner {
    border-color: #4f99c6;
    background-color: #6fb3e0
}

.fc-state-hover,.fc-state-hover .fc-button-inner {
    background-color: #8b9aa3
}

.external-event {
    margin: 6px 0;
    padding: 0;
    cursor: default;
    display: block;
    color: #FFF;
    background-color: #abbac3;
    font-size: 13px;
    line-height: 28px
}

.external-event:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.external-event.ui-draggable-dragging {
    cursor: move
}

.external-event>[class*="icon-"]:first-child {
    display: inline-block;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
    font-size: 15px;
    border-right: 1px solid #FFF
}

.widget-main .fc {
    position: relative;
    top: -40px
}

.widget-main .fc>.fc-header {
    position: relative;
    z-index: 10
}

.widget-main .fc .fc-header-space {
    padding-left: 2px
}

.widget-main .fc-header-title>h2 {
    font-size: 18px;
    line-height: 36px
}

.widget-main .fc-content {
    top: -14px;
    z-index: 11
}

.widget-main .fc-button-content {
    height: 37px;
    line-height: 36px
}

@media only screen and (max-width:480px) {
    .fc-header td {
        display: block;
        width: auto;
        text-align: left
    }
}
