.input-mini {
	width: 60px;
}

.input-small {
	width: 90px;
}

.input-medium {
	width: 150px;
}

.input-large {
	width: 210px;
}

.input-xlarge {
	width: 270px;
}

.input-xxlarge {
	width: 530px;
}
table{
	margin-top:15px;
}

table .checkColumn{
	
	width:10px;
	padding-left:10px !important;
}
table .checkColumn:hover{
	
	transform:scale(1.1);
}

table th{
	text-align:left;
}

table td{
	text-align:left;
}
table thead{
	background:linear-gradient(to bottom,white 0px, rgba(233,233,233,1) 5px);
}
.listContainer{
	margin-right:25px;
	margin-top:15px;
}

  .mon-toolbar{
  right:40px;
  /* padding:5px 15px; */
  background-color: #fff;
   border-radius: 5px;
   border: solid 1px #E0E7EE;
   cursor:pointer;
  }
 /*  .mon-toolbar span{
  padding-right:10px;
  } */
  .mon-toolbar button{
  padding:5px 15px; 
  	background-color: #fff;
  	border-radius: 5px;
  	shadow:none;
  	border:none;
  }
  .mon-toolbar.open{
      border-color: #88BFFF;
      color:#333;
  }
  
  .tsRowMenu ul li a{
  	cursor:pointer;
  }