.inputselect-active-class-default {
	padding: 2px;
	cursor: pointer;
	white-space: nowrap;
}

.inputselect-hover-class-default {
	background: #70c8e2;
	color: #fff;
	padding: 2px;
	cursor: pointer;
	white-space: nowrap;
}

.inputselect-select-class-default {
	background: #5bc0de;
	color: #fff;
	padding: 2px;
	cursor: pointer;
	white-space: nowrap;
}

.inputselect-icon-class-default {
	border: 1px solid #ccc;
	padding: 1px;
	width: 25px;
	height: 25px;
	white-space: nowrap;
}

.inputselect-readytodelete {
	background: #f0ad4e;
	color: #fff;
	white-space: nowrap;
}

.inputselect-container {
	-webkit-box-shadow: 0 3px 7px #ccc;
	box-shadow: 0 3px 7px #ccc;
	background-clip: padding-box;
	min-width: 120px;
	position: absolute;
	border-radius: 3px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.inputselect-container .arrow, .inputselect-container .arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.inputselect-container .arrow {
	border-width: 11px;
}

.inputselect-container .arrow:after {
	border-width: 10px;
	content: "";
}

.inputselect-container.bottom .arrow {
	top: -11px;
	left: 50px;
	margin-left: -11px;
	border-bottom-color: #333333;
	border-top-width: 0;
}

.inputselect-container.bottom .arrow:after {
	top: 1px;
	margin-left: -10px;
	border-bottom-color: #fff;
	border-top-width: 0;
	content: " ";
}

.inputselect-inputer {
	outline: none;
	white-space: pre;
	margin-right: 17px;
	line-height: 1;
	background: transparent;
	border: 0px;
	width: 12px;
}

.inputselect-selector {
	text-align: left;
	vertical-align: middle;
	position: relative;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: text;
}

.inputselect-selector.disabled {
	background: #eeeeee;
}

.tsEdtHover {
	border: solid 1px #ccc;
	border-radius: 3px 3px 3px 3px;
	padding: 3px;
}

.tsEdtSave {
	background-color: #eeeeee;
	border: solid 1px #ccc;
	border-top: none;
	outline: none;
	padding: 3px;
	box-shadow: 0 3px 6px #ccc;
	margin: 0px;
	position: absolute;
	display: inline-block;
	right: 0px;
	top: 100%;
	z-index: 1;
}

.tsEdtHover {
	border: solid 1px #ccc;
	border-radius: 3px 3px 3px 3px;
	padding: 3px;
}

.tsEdtSave {
	background-color: #eeeeee;
	border: solid 1px #ccc;
	border-top: none;
	outline: none;
	padding: 3px;
	box-shadow: 0 3px 6px #ccc;
	margin: 0px;
	position: absolute;
	display: inline-block;
	right: 0px;
	top: 100%;
	z-index: 1;
}

.tsthreshold {
	width: 70px;
	height: 30px;
}

.tsThBrief {
	display: inline-block;
	vertical-align: middle;
	cursor: hand;
}

.tsThbrief:hover {
	box-shadow: 0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
}

.tsThBrief>div {
	display: inline-block;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}

.tsThBrief>div:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-left: 1px solid #e6e6e6;
}

.tsThBrief>div:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.tsThContainer {
	width: 600px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0px;
}

.tsThThresholdLabel {
	display: inline;
	padding: 2px 4px;
	font-size: 75%;
	font-weight: bold;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	border-radius: 4px;
}

.selContainer {
	display: inline-block;
	vertical-align: middle;
}

.tsThContainer .tsThThreshold {
	display: inline-block;
	padding: 2px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #e6e6e6;
	margin: 3px 0px;
	background: #ffffff;
	border-radius: 4px;
}

.tsThContainer input {
	border-top: 0px;
	border-right: 0px;
	border-bottom: solid 1px #ccc;
	border-left: 0px;
}

.tsThContainer .value {
	text-align: center;
	width: 40px;
}

.tsThContainer .repeat {
	text-align: center;
	width: 20px;
}

.tsThContainer .message {
	text-align: left;
	width: 150px;
}

.tsThContainer .timerange {
	text-align: center;
	width: 90px;
	margin: 2px;
}

.tsThRow {
	display: block;
}

.tsThColumn {
	padding-left: 4px;
	padding-right: 4px;
}
/* .tsThContainer > div > div > div { */
/*   border-bottom: dotted 1px #ccc; */
/* } */
/* .tsThContainer > div > div > div:nth-child(1) { */
/*   border-top: dotted 1px #ccc; */
/* } */
.tsThContainer .tsThLevelCol>div {
	border-top: dotted 1px #ccc;
	padding: 4px;
}

.tsThContainer .tsThLevelCol>div:nth-child(1) {
	border-top: 0px;
}

.tsThContainer .tsTimeTools {
	text-align: right;
}

.tsThContainer .tsTimeTools i {
	color: #ccc;
}

.tsThContainer .tsThTimeRanges>div {
	display: inline-block;
	padding: 2px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #e6e6e6;
	margin: 3px 0px;
	background: #ffffff;
	border-radius: 4px;
}

.tsThContainer .tsThTimeRanges input {
	width: 90px;
	border: 0px;
}

.tsThContainer i {
	color: #4d4d4d;
	cursor: pointer;
}

.tsThContainer .tsThMenu {
	text-align: left;
}

div.tsThData {
	display: none;
}

.tsThAlert {
	color: red;
	text-align: center;
	height: 20px;
}

.tsTrHover tr>td:last-child {
	width: 40px;
}

.tsTrHover>tbody>tr>td:last-child>div {
	position: relative;
	display: none;
}

.tsTrHover>tbody>tr>td:last-child i {
	color: #777777;
	cursor: pointer;
}

.tsTrHover>tbody>tr:hover {
	background-color: #f5f5f5;
}

.tsTrHover>tbody>tr:hover>td:last-child>div.tsRowMenu {
	display: inline-block;
}

.tsTrHover .show {
	display: inline-block;
}

.tsTrHover .focus {
	background-color: #f5f5f5;
}

svg text::selection {
	background: none;
}

.tschart {
	cursor: default;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	border: 1px solid #ddd;
	width: 100%;
	height: 100%;
}

.tschart .gridStroke {
	stroke: #000;
	stroke-width: 1;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	fill: none;
}

.tschart .xgrid {
	stroke-opacity: 0.1;
}

.tschart .ygrid {
	stroke-opacity: 0.09;
	stroke-dasharray: 5, 5;
}

.tschart .axis {
	stroke-opacity: 1;
}

.tschart .text {
	pointer-events: none;
	fill: #000;
	font-family: Verdana, 'Open Sans', 'Microsoft YaHei', 微软雅黑, STHeiti,
		'WenQuanYi Micro Hei', sans-serif;
	font-size: 12px;
	opacity: 1;
}

.tschart .sText {
	text-anchor: start;
}

.tschart .mText {
	text-anchor: middle;
}

.tschart .eText {
	text-anchor: end;
}

.tschart .title {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #333333;
	font-weight: bold;
	padding-top: 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.tschart .legends {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: #333333;
	overflow-y: hidden;
	list-style: none;
	font-size: 12px;
}

.tschart .lgdiv {
	width: 100%;
	position: relative;
	margin: 0px;
	padding: 6px 20px 6px 20px;
	font-size: 12px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.tschart .legends>li {
	float: left;
	margin: 5px 20px 5px 20px;
	cursor: hand;
}

.tschart .legends>li>i {
	display: inline-block;
	white-space: nowrap;
	margin-right: 4px;
	margin-bottom: 2px;
	width: 12px;
	height: 4px;
	background-color: red;
}

.tschart .lgscroll {
	display: none;
	width: 16px;
	padding: 0px;
	margin: 21 20 10 0;
	list-style: none;
	position: absolute;
	right: 0;
	top: 0;
}

.tschart .lgscroll>li {
	display: block;
	width: 0px;
	height: 0px;
}

.tschart .lgscroll .up {
	border-top: 0px;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #ccc;
	border-left: 8px solid transparent;
	margin-bottom: 16px;
	cursor: hand;
}

.tschart .lgscroll .up:hover {
	border-bottom-color: #337ab7;
}

.tschart .lgscroll .down {
	border-top: 8px solid #ccc;
	border-right: 8px solid transparent;
	border-bottom: 0px;
	border-left: 8px solid transparent;
	cursor: hand;
}

.tschart .lgscroll .down:hover {
	border-top-color: #337ab7;
}

.tschart .hintRect {
	stroke-width: 1px;
	stroke: #cdcdcd;
	fill: #666666;
	opacity: 0.7;
}

.tschToolBar {
	background-color: #efefef;
	height: 35px;
	line-height: 35px;
	margin: 4px 4px 4px 4px;
	position: relative;
	border-radius: 6px;
}

.tschToolBar ul {
	list-style: none;
	position: absolute;
	right: 20px;
	top: 3px;
}

.tschToolBar ul li {
	display: inline-block;
	padding: 6px;
	cursor: hand;
}

.tschToolBar ul li:hover {
	color: #029fe4;
}

.tschblk {
	position: relative;
	padding: 4px;
	height: 300px;
}

.tschtbarsw {
	color: #cccccc;
	position: absolute;
	right: 20px;
	top: 10px;
	cursor: pointer;
}

.tschtbarsw:hover {
	color: #029fe4;
}

.tschshow {
	right : 40px;
}

.tschtbar {
	list-style: none;
	position: absolute;
	right: 60px;
	top: 7px;
	display: none;
	background: #fff;
	padding-left: 2px;
}

.tschtbar li {
	display: inline-block;
	padding: 3px;
	cursor: pointer;
}

.tschtbar li:hover {
	color: #029fe4;
}

.popover-content {
	padding: 0;
}

.popover {
	border-radius: 0;
}

.metric-add-button, .metric-up-button, .metric-down-button,
	.metric-remove-button {
	vertical-align: middle;
	margin: 0;
	background-color: #eee;
	border-radius: 0;
	border: 1px solid #999;
}

.ts-config-block {
	border: 1px solid #bbb;
	border-radius: 5px;
	margin-bottom: 15px;
}

table.tstable {
	width: 100%;
	border: 0;
	table-layout: fixed;
	position: relative;
}

.tstable th {
	background-color: #93DAFF;
	color: #000000
}

.tstable, .tstable th, .tstable td {
	font-size: 0.95em;
	text-align: center;
	padding: 4px;
	border-collapse: collapse;
	overflow: hidden;
	　　text-overflow: ellipsis;
}

.tstable td {
	width: 50%;
	white-space: nowrap;
	　　
}

.tstable th, .tstable td {
	border: 1px solid #c1e9fe;
	border-width: 1px 0 1px 0
}

.tstable tr:nth-child(odd) {
	background-color: #fdfdfd;
}

.tstable tr:nth-child(even) {
	background-color: #dbf2fe;
}

.tstable thead tr {
	background-color: #dbf2fe !important;
}

.tstable tbody {
	overflow: auto;
}

.tstableDiv {
	overflow-y: auto;
}

.tstableHead {
	margin: 10px 0;
	display: flex;
	algin-content: center;
}

.tstableHead span {
	width: 50%;
	font-weight: 700;
	text-align: center;
}

.tsTimeBar {
	position: absolute;
	left: 10px;
	top: 10px;
	list-style: none;
}

.tsTimeBar>li {
	display: inline-block;
	padding: 0 3px;
	cursor: pointer;
}

.tschtbar.tsexpand {
	width: 80%;
}

.tschtbar.tsexpand>li[title] {
	float: right;
}

.tschtbar.tsexpand>li[data-time] {
	float: left;
}

.tschExpandToolBar {
	width: 80%;
	position: absolute;
	top: -35px;
	left: 10%;
}

.tschExpandToolBar>div {
	display: inline-block;
	cursor: pointer;
	color: #000;
	border-bottom: 1px solid transparent;
}

.tschExpandToolBar a {
	color: black;
}

.tschExpandToolBar>div {
	color: #333;
	padding: 5px;
}

.tschExpandToolBar>div.active {
	/* color:#000;
	border-bottom: 1px solid #1f77b4; */
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	background-color: #e6e6e6;
}

.tschExpandToolBar>.chart {
	padding: 5px;
}

.tschExpandToolBar>.chart.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	background-color: #e6e6e6;
}

.tschExpandToolBar>.rangeSelectHover {
	background-color: white;
	color: black;
}

.tschExpandToolBar .compare {
	position: relative;
}

/* .tschblk .tschtbarsw,
.tschblk .tschtbar{
	display:none;
}

.tschblk .tschtbarsw.hide,
.tschblk .tschtbar.hide{
	display:none !important;
} */
.ts-dropdown-menu {
	position: absolute;
	display: none;
	list-style: none;
	background-color: white;
	left: 51px;
	top: 31px;
	min-width: 160px;
	padding: 0;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 2px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}

.ts-dropdown-menu li {
	text-align: left;
	padding: 3px 20px;
}

.ts-dropdown-menu li.button:hover {
	background-color: #38A0F4;
	color: #fff;
}

.ts-dropdown-menu li.button:hover a {
	color: #fff;
}

.ts-dropdown-menu li.disabled a {
	color: #eee;
}