path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

marker#t2 {
    fill: green;
}

path.link.t1 {
    stroke: #333;
}

path.link.t2 {
    stroke: green;
}

path.link.t3 {
    stroke-dasharray: 0,2 1;
}

circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}

.node text {
    pointer-events: none;
    font: 14px sans-serif;
}

.link1 {
    fill: none;
    stroke: #630de4;
    stroke-width: 1.5px;
}

.link2 {
    fill: none;
    stroke: #c0b2e4;
    stroke-width: 1.5px;
}

.link3 {
    fill: none;
    stroke: #2da2e4;
    stroke-width: 1.5px;
}

.link4 {
    fill: none;
    stroke: #86e2e4;
    stroke-width: 1.5px;
}
 
#container{
    z-index: 0;
}
#cmdbInfo{
    font-size: 12px;
    width: 280px;
    float: right;
    right: 0px;
    z-index: 100;
    top: 40px;
    position: fixed;
}
svg {
    padding-top: 20px;
    margin-left:auto; margin-right: auto;
    display:block;
}
#topologyChart{
    min-height: 500px;
    max-height: 700px;
}

marker#idArrow {
     fill: gray;
     stroke : gray;
}