    /* clear the style of browser which not need */   
    fieldset, img {
    	border:none;
	}
    img{
    	vertical-align: middle;
    }
    ul, ol, li {
		list-style:none;
		padding:0;
		margin:0;
	}
    table {
		border-collapse:collapse;
	}        
    button:focus, input:focus, select:focus{
    	outline:0;
    }
    
    /* detailpage of list */ 
    .detailGroup{
    	padding:10px;
    }
	.detail{
		padding-left:20px;
	}
	.table.detailUl{
		margin-top:0;
		margin-bottom:0;
	}
	.showicon{
	    cursor: pointer;
	    width:18px;
	}
	
	/* the listtable */
	
	.tstopsearch{
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    padding: 10px;
	    border-bottom: 1px solid #eee;
	    box-shadow: 0 1px 4px #e6e0e0;
	    height: 51px;
	    background: #fff;
	    z-index:1;
	}
	.tsinnerbody{

	}
