/* start */
.clear {
	display: block !important;
}

html {
	color: #333;
    line-height: 1.5;
}
html,body{
    height: 100%;	
}
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form,
	fieldset, legend, img, i, em, a {
	margin: 0;
	padding: 0;
	font-weight: normal;
	list-style: none;
	font-style: normal;
}

table td{
	vertical-align : top;
}

a {
	text-decoration: none;
	background: transparent;
	outline: none;
	border: 0 none;
	outline: 0;
}

a:active, a:hover, a:visited, a:focus {
	text-decoration: none;
	outline: none;
	border: 0 none;
	outline: 0;
}
.btn:active, .btn:hover, .btn:visited, .btn:focus{
	border-style:solid;
	border-width:1px;
} 
.divtitle {
	font-size: 16px;
	font-size: 1.1428571428571428rem;
	line-height: 2;
	padding-left: 1.5em;
	text-align: left;
	background: #f3f3f4;
	border: 0 none;
}

h4 {
	font-size: 16px;
	font-size: 1.1428571428571428rem;
	line-height: 2;
	position: relative;
}

.remain {
	font-weight: normal;
	color: #F5222B !important;
	font-size: 14px;
	font-size: 1rem;
}

.d_f.btnTitle {
	font-size: 16px;
	font-size: 1.1428571428571428rem;
	line-height: 3;
}

.status {
	color: #4a8ba8;
	font-size: 14px;
	font-size: 1rem;
}

.lessimpor {
	font-size: 12px;
	color: #999;
}

.face_bg_smallmid, .face_bg_small {
	width: 25px;
	height: 25px;
}

.face_bg_smallmid img, .face_bg_small img {
	width: 24px;
	height: 24px;
	vertical-align: baseline;
}

.tsbtn {
	border: 0 none;
	cursor: pointer;
	color: #fff;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 30px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 14px;
	font-size: 1rem;
}

.tsbtn:hover {
	color: #fff;
}

.tsbtn.tsbtn-small {
	line-height: 22px;
	font-size: 12.5px;
	font-size: 0.8928571428571429rem;
}

.tsbtn.tsbtn-lightblue {
	background: #42AAD7;
}

.tsbtn.tsbtn-lightblue:hover {
	background: #278CAF;
}

.tsbtn.tsbtn-blue {
	background: #0D87B2;
}

.tsbtn.tsbtn-blue:hover {
	background: #0C718C;
}

.tsbtn.tsbtn-darkblue {
	background: #155A89;
}

.tsbtn.tsbtn-darkblue:hover {
	background: #284A66;
}

.tsbtn.tsbtn-lightgreen {
	background: #BDD81D;
}

.tsbtn.tsbtn-lightgreen:hover {
	background: #A3B214;
}

.tsbtn.tsbtn-green {
	background: #7EB138;
}

.tsbtn.tsbtn-green:hover {
	background: #6C9321;
}

.tsbtn.tsbtn-darkgreen {
	background: #1BA880;
}

.tsbtn.tsbtn-darkgreen:hover {
	background: #128760;
}

.tsbtn.tsbtn-lightbrown {
	background: #D9D06F;
}

.tsbtn.tsbtn-lightbrown:hover {
	background: #B7A83D;
}

.tsbtn.tsbtn-brown {
	background: #E79B3C;
}

.tsbtn.tsbtn-brown:hover {
	background: #C1792B;
}

.tsbtn.tsbtn-orange {
	background: #F9523D;
}

.tsbtn.tsbtn-orange:hover {
	background: #BF281D;
}

.tsbtn.tsbtn-red {
	background: #DD3C50;
}

.tsbtn.tsbtn-red:hover {
	background: #BF2640;
}

.tsbtn.tsbtn-purple {
	background: #E56ACE;
}

.tsbtn.tsbtn-purple:hover {
	background: #CC25AD;
}

.tsbtn.tsbtn-grey {
	background: #CDCECC;
	color: #B2B0A1;
	cursor: text;
}

.tsbtn.tsbtn-darkgrey {
	background: #ABADA8;
	color: #B2A1A1;
	cursor: text;
}

.d_f_r .status {
	font-size: 14px;
	font-size: 1rem;
	color: #4a8ba8;
	display: inline-block;
	line-height: 2em;
}

.contentdiv {
	padding: 15px;
}

#taskDiv, #stepDiv {
	background: #fff;
	padding: 15px;
	text-align: left;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-bottom:10px;
}
#stepDiv{
	padding: 15px 0;
}
.navlist.tsnavbar>li {
	float: left;
	cursor: pointer;
	margin-right: 3px;
	color: #83a7c9;
	display: none;
}

.navlist.tsnavbar>li.mainshow {
	display: block;
}

.navlist.tsnavbar>li>a {
	float: left;
	padding: 15px;
	cursor: pointer;
	margin-right: 3px;
	color: #67adef;
}

.navlist>li.mainshow>a, .navlist.tsnavbar>li.mainshow>a:hover {
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	background: #fff;
	color: #333;
	border: 1px solid #ccc;
	border-bottom: 0 none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-bottom: -1px;
}

.navlist.tsnavbar>li>a:hover {
	color: #999;
	background: #fff;
	border: 0 none;
}

.navlist.tsnavbar .tsnavmore {
	color: #4a8ba8;
	float: left;
	font-size: 12px;
	font-size: 0.9285714285714286rem;
	margin-left: 10px;
	cursor: pointer;
	padding: 17px 0 10px;
	transition: all .1s;
}
.navlist.tsnavbar .gohide.tsnavmore{
	margin-left: 30px;
}
.navlist.tsnavbar .tsnavmore .fa{
	margin-left:2px;
}
.navlist.tsnavbar .tsnavmore:before{
	content:'更多';
	display:inline-block;
}
.navlist.tsnavbar .gohide.tsnavmore:before{
	content:'收起';
}
.navlist.tsnavbar .tsnavmore .fa:before{
	content: "\f101";
}
.navlist.tsnavbar .tsnavmore.gohide .fa:before{
    content: "\f100";
}
.commentAcount{
	background: #e89272;
}
.tab-content>.active {
	background: #fff;
	padding: 12px;
	border: 1px solid #ccc;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	text-align: left;
}

.showmore:hover {
	position: relative;
	cursor: pointer;
    z-index: 3;
}

.showlist {
	position: absolute;
	display: none;
}

.showmore:hover .showlist {
	display: block;
}
.nav-tabs{
    margin-bottom: -1px;
}
/* .nav-tabs > li > a{
    color: #adaaaa;
} */
.moredolist {
	min-width: 120px;
	top: 24px;
	right: 0;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	padding: 10px;
	background: #fff;
}

.moredolist a {
	color: #333;
	display: block;
	line-height: 2em;
	font-size: 14px;
	font-size: 1rem;
}
.moredolist .lineDiv{
	height:1px;
	width:100%;
	background:#e5e5e5;
	overflow:hidden;
}
.dropdown-header{
	cursor: text;
}
.moredolist a:hover {
	color: #999;
}

.divTimeLine {
	margin-left: auto;
	margin-right: auto;
}

.divTimeLine li {
	background: #c5daab;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	top: -5px;
}

.divTimeLine li:hover, .divTimeLine li.hover {
	background: #5da7c8;
}

.well {
	border: 0 none;
	background: #fff;
}

.alert, .alert-default {
	border: 0 none;
	background: #fff;
	padding: 0;
	padding-left: 15px;
}

.pic-statuslist {
    font-family: "ts";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}
.btn-status{
	color:#999;
    cursor: auto;
    padding: 0 4px;
    transition: all .5s;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    display: inline-block;
/*    cursor: pointer;
 	border:1px solid #99; */
}
.showmoreBtn{
    cursor: pointer;
    width:30px;
    text-align: center;
}
.btn-status.on{
	color:#fff;
    padding: 0 5px;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
}
.btn-status.on .caret{
	margin-left:0;
}
.btn-status.on .statusTxt{
	font-size:12px;
}
/* 状态图标默认 */
.pic-statuslist:before{
	content: '\e899';
}
/* 红色叉叉图标 */
.pic-statuslist-1002:before, .pic-statuslist-1003:before, .pic-statuslist-1005:before, .pic-statuslist-1024:before{
	content: '\e826';
}
.btn-1002, .btn-1003, .btn-1024{
	color:#db1c1c;
/* 	border-color:#d14e70; */
}
.btn-1002.on, .btn-1003.on, .btn-1024.on{
	background:#db1c1c;
	border-color:#d14e70;
}

.bdl-1002, .bdl-1003, .bdl-1005, .bdl-1024 {
	border-left: 3px solid #db1c1c;
}
.showmoreBtn-1002, .showmoreBtn-1003, .showmoreBtn-1024{
	color: #db1c1c;
}
.btn-1005{
	color:#f3a080;	
}
.btn-1005.on{
	background:#f3a080;	
}
.showmoreBtn-1005{
	color: #f3a080;	
}
/* 绿色勾勾图标 */
.pic-statuslist-1022:before {
	content: '\e825';
}
/* 绿色返回第一步图标 */
.pic-statuslist-10:before{
	content: '\e829';
}
.btn-10, .btn-1022{
	color:#1ab394;	
/* 	border-color:#7eb138; */
}
.btn-10.on, .btn-1022.on{
	background:#1ab394;	
}
.bdl-1022{
	border-left: 3px solid #1ab394;	
}
.showmoreBtn-1022{
	color: #1ab394;
}

/* 蓝色进行中图标 */
.pic-statuslist-1001:before, .pic-statuslist-1004:before, .pic-statuslist-1021:before {
	content: '\e81b';
}
/* 蓝色返回图标 */
.pic-statuslist-1027:before {
	content: '\ea88';
}
/* 蓝色暂停图标 */
.pic-statuslist-1023:before {
	content: '\e81c';
}
.btn-1001, .btn-1004, .btn-1021, .btn-1027, .btn-1023{
	color:#6db1d3;
/* 	border-color:#3fa9f5; */	
}
.btn-1001.on, .btn-1004.on, .btn-1021.on, .btn-1027.on, .btn-1023.on{
	background:#6db1d3;
}
.bdl-1001, .bdl-1004, .bdl-1021, .bdl-1027, .bdl-1023{
	border-left: 3px solid #6db1d3;
}
.showmoreBtn-1001, .showmoreBtn-1004, .showmoreBtn-1021, .showmoreBtn-1027, .showmoreBtn-1023{
	color:#6db1d3;
}
/* 红色感叹号图标 */
.pic-statuslist-1020:before{
	content: '\e804';
}
.btn-1020{
	color:#DB3549;
/* 	border-color:#d14e70; */
}
.btn-1020.on{
	background:#DB3549;
}
.bdl-1020 {
	border-left: 3px solid #DB3549;
}
.showmoreBtn-1020{
	color: #DB3549;
}

/* 紫色暂停图标 */
.pic-statuslist-1006:before, .pic-statuslist-1026:before{
	content: '\e81c';
}
.btn-1006, .btn-1026{
	color:#9966CC;	
}
.btn-1006.on, .btn-1026.on{
	background:#9966CC;	
}
.bdl-1006, .bdl-1026 {
	border-left: 3px solid #9966CC;
}
.showmoreBtn-1006, .showmoreBtn-1026{
	color: #9966CC;
}

.row-fluid{
	padding:5px;
}
.lh3em{
	line-height:3em;
}
.innercontentdiv{
	padding:15px;
	background: #fff;
    border: 1px solid #ececec;
    border-radius: 6px;
}
.listSum{
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.listdetailTitle{
    padding: 0 3px;
    margin-top: 8px;
    color: #333;
    line-height: 24px;
    height: 24px;
    font-weight: 600;
}
/* .listdetailTitle:before{
	content:'';
	display:inline-block;
	width:6px;
	height:15px;
	background:#ddd;
	margin-right:4px;
} */
.lh2em{
	line-height: 2em;
}
.ml5{margin-left:15px;margin-right:2px;}
.colorgrey{color:#999;}

.showmoreBtn:hover{
	opacity:.8;
}
.showflow{
	font-size: 12px;
    cursor: pointer;
    margin-right:5px;
}
.statusTxt{
    font-size:14px;
}
.contentInn{
    border: 1px solid #ccc;
    border-radius: 4px;	
    padding:5px;
}
.dropdown-toggle{
	padding:3px 5px;
	cursor: pointer;
}
/* .urgencyBox{
	position:relative;
} */
.innercontentdiv>h6{
    line-height: 30px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ddd;	
}
.innercontentdiv.hidetable>h6{
    margin-bottom: 0;
    border-bottom: 0 none;		
}
.urgencytext{
    display:inline-block;
    opacity: .8;
    padding: 0 5px;
    font-size: 11px;
    line-height: 18px;
    height: 18px;
    border-radius: 7px;
    color:#fff;
    vertical-align: top;
    margin-top: 5px;
}

.btnTitle{
	transition: all .3s;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	display: inline-block;
	cursor: pointer;
}
.btnTitle.shownextlist:before{
	content: "\f068";
}

.fixtop{
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background: #fff;
    z-index: 98;
    box-shadow: 0 1px 4px #ddd;	
}

.fixtop .fixtop-left{
	float:left;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
}
.fixtop-right{
    position: fixed;
    top: 0;
    right: 15px;
	padding-top: 5px;
    background: #fff;
    height: 40px;
    z-index: 99;
}
/* #spnReadonly{
	font-size:12px;
	color:#666;
	margin-left:5px;
} */
.statustd{
	text-align: right;
    padding-right: 10px;
}
.contentdiv h6 .showparticon{
    cursor: pointer;	
}
.contentdiv h6 .showparticon>i{
	font-size: 20px;
    line-height: 30px;
    height: 30px;
    width:30px;
    text-align: center;
    transition: all .5s;
}
.contentdiv h6 .showparticon>i:before{
	content: '\ea63';
}
.innercontentdiv.hidetable h6 .showparticon>i{
	transform: rotate(-90deg);
}
.innercontentdiv .taskTable{
	transition: all .5s;
}
.innercontentdiv.hidetable .taskTable{
	display:none;
}
.step-panel{
    margin-bottom: 40px;
}
.fixtop-left h4{
    display: inline-block;
}
.btn.bgskin:hover, .btn.bgskin:focus, .btn.bgskin.focus{
	color:#fff;
}