<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.process.dao.mapper.FormMapper">

	<select id="getActionFormVersionByFormUuid" parameterType="java.lang.String" resultType="codedriver.module.process.dto.FormVersionVo">
		SELECT
		a.`uuid`,
		a.`version`,
		a.`is_active` AS isActive,
		a.`form_uuid` AS formUuid,
		a.`content`,
		b.`name` AS formName
		FROM
		`form_version` a
		JOIN `form` b
		ON a.`form_uuid` = b.`uuid`
		WHERE a.`form_uuid` = #{value}
		AND a.`is_active` = 1
	</select>

	<select id="getAttributeByFormUuid" parameterType="java.lang.String" resultType="codedriver.framework.attribute.dto.AttributeVo">
		SELECT
		c.`uuid`,
		c.`label`,
		c.`type`,
		c.`handler`,
		c.`unit`,
		c.`datacube_textfield` AS dataCubeTextField,
		c.`datacube_valuefield` AS dataCubeValueField,
		c.`datacube_uuid` AS dataCubeUuid,
		c.`config`,
		c.`description`,
		c.`is_active` AS isActive
		FROM
		`form_attribute` a
		JOIN `form_version` b
		ON a.`formversion_uuid` = b.`uuid`
		AND b.`is_active` = 1
		AND a.`form_uuid` = #{value}
		JOIN `attribute` c
		ON a.`attribute_uuid` = c.`uuid` AND c.`is_active` = 1
	</select>

	<select id="searchFormList" parameterType="codedriver.module.process.dto.FormVo" resultType="codedriver.module.process.dto.FormVo">
		SELECT
		f.`uuid`,
		f.`name`,
		f.`is_active` AS isActive,
		fv.`version` AS currentVersion,
		fv.`uuid` AS currentVersionUuid
		FROM `form` f
		JOIN `form_version` fv ON fv.`form_uuid`=f.`uuid` AND fv.`is_active` = 1
		WHERE 1=1
		<if test="isActive != null">
			AND f.`is_active` = #{isActive}
		</if>
		<if test="keyword != null and keyword != ''">
			AND f.`name` LIKE CONCAT('%', #{keyword},'%') 
		</if>
		ORDER BY f.`fcd` DESC
		<if test="needPage">
			LIMIT #{startNum}, #{pageSize}
		</if>
	</select>

	<select id="searchFormCount" parameterType="codedriver.module.process.dto.FormVo" resultType="int">
		SELECT
		COUNT(f.`uuid`)
		FROM
		`form` f
		JOIN `form_version` fv ON fv.`form_uuid`=f.`uuid` AND fv.`is_active` = 1
		WHERE 1=1
		<if test="isActive != null">
			AND f.`is_active` = #{isActive}
		</if>
		<if test="keyword != null and keyword != ''">
			AND f.`name` LIKE CONCAT('%', #{keyword},'%') 
		</if>
	</select>

	<select id="getMaxVersionByFormUuid" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT max(version) FROM `form_version` WHERE form_uuid = #{value} FOR UPDATE
	</select>

	<select id="getFormVersionByUuid" parameterType="java.lang.String" resultType="codedriver.module.process.dto.FormVersionVo">
		SELECT
		`uuid`,
		`version`,
		`is_active` AS isActive,
		`form_uuid` AS formUuid,
		`content`,
		`lcu` AS editor,
		`lcd` AS editTime
		FROM
		`form_version`
		WHERE
		uuid = #{value}
	</select>

	<select id="getFormByUuid" parameterType="java.lang.String" resultType="codedriver.module.process.dto.FormVo">
		SELECT
		`uuid`,
		`name`,
		`is_active` AS isActive
		FROM
		`form`
		WHERE `uuid` = #{value}
	</select>

	<select id="getFormVersionByFormUuid" parameterType="java.lang.String" resultType="codedriver.module.process.dto.FormVersionVo">
		SELECT
		`uuid`,
		`version`,
		`is_active` AS isActive,
		`form_uuid` AS formUuid,
		`content`,
		`lcu` AS editor,
		`lcd` AS editTime
		FROM
		`form_version`
		WHERE
		form_uuid = #{value}
		ORDER BY `version`
	</select>

	<select id="getFormVersionSimpleByFormUuid" parameterType="java.lang.String" resultType="codedriver.module.process.dto.FormVersionVo">
	SELECT
		`uuid`,
		`version`,
		`is_active` AS isActive
		FROM
		`form_version`
		WHERE
		form_uuid = #{value}
		ORDER BY `version`
	</select>
	
	<select id="getFormReferenceCount" parameterType="java.lang.String" resultType="int">
	SELECT 
	count(p.`uuid`)
	FROM `process` p 
	JOIN `process_form` pf ON pf.`process_uuid` = p.`uuid` AND pf.`form_uuid` = #{formUuid}
	</select>
	
	<select id="getFormReferenceList" parameterType="codedriver.module.process.dto.ProcessFormVo" resultType="codedriver.module.process.dto.ProcessVo">
	SELECT 
	p.`uuid`,
	p.`name` 
	FROM `process` p 
	JOIN `process_form` pf ON pf.`process_uuid` = p.`uuid` AND pf.`form_uuid` = #{formUuid}
	<if test="needPage">
	LIMIT #{startNum}, #{pageSize}
	</if>
	</select>
	
	<select id="checkFormIsExists" parameterType="java.lang.String" resultType="int">
	SELECT COUNT(`uuid`) FROM `form` WHERE `uuid` = #{uuid}
	</select>
	
	<select id="checkFormNameIsRepeat" parameterType="codedriver.module.process.dto.FormVo" resultType="int">
	SELECT COUNT(`uuid`) FROM `form` WHERE `name` = #{name} and `uuid` != #{uuid}
	</select>
	
	<select id="checkFormVersionIsExists" parameterType="java.lang.String" resultType="int">
	SELECT COUNT(`uuid`) FROM `form_version` WHERE `uuid` = #{uuid}
	</select>
	
	<select id="getFormAttributeByFormUuid" parameterType="java.lang.String" resultType="codedriver.module.process.dto.FormAttributeVo">
	SELECT
	 a.`form_uuid` AS formUuid,
	 a.`formversion_uuid` as formversionUuid,
	 a.`uuid`,
	 a.`label`,
	 a.`type`,
	 a.`handler`,
	 a.`config` 
	FROM `form_attribute` a
	JOIN `form_version` b ON b.`uuid`=a.`formversion_uuid` AND b.`is_active` = 1
	WHERE a.`form_uuid` = #{value}
	</select>
	
	<update id="updateFormVersion" parameterType="codedriver.module.process.dto.FormVersionVo">
		UPDATE
		`form_version`
		SET
		<if test="isActive != null">
		`is_active` = #{isActive},
		</if>
		<if test="content != null and content != ''">
		`content` = #{content},
		</if>
		`lcd` = NOW(),
		`lcu` = #{editor}
		WHERE `uuid` = #{uuid}
	</update>

	<update id="resetFormVersionIsActiveByFormUuid" parameterType="java.lang.String">
		UPDATE `form_version`
		SET
		`is_active` = 0
		WHERE
		form_uuid = #{value}
	</update>
	
	<update id="updateForm" parameterType="codedriver.module.process.dto.FormVo">
	UPDATE `form` SET 
	<if test="name != null and name != ''">
	`name`=#{name}, 
	</if>
	<if test="isActive != null">
	is_active = #{isActive}, 
	</if>
	`uuid` = #{uuid} 
	WHERE `uuid` = #{uuid};
	</update>

	<insert id="insertForm" parameterType="codedriver.module.process.dto.FormVo">
		INSERT INTO `form` (
		`uuid`,
		`name`,
		`is_active`,
		`fcd`
		)
		VALUES
		(
		#{uuid},
		#{name},
		#{isActive},
		now()
		)
	</insert>

	<insert id="insertFormVersion" parameterType="codedriver.module.process.dto.FormVersionVo">
		INSERT INTO `form_version` (
		`uuid`,
		`version`,
		`is_active`,
		`form_uuid`,
		`content`,
		`fcd`,
		`fcu`
		)
		VALUES
		(
		#{uuid},
		#{version},
		#{isActive},
		#{formUuid},
		#{content},
		NOW(),
		#{editor}
		)
	</insert>

	<insert id="insertFormAttribute" parameterType="codedriver.module.process.dto.FormAttributeVo">
		INSERT INTO `form_attribute` (
		`form_uuid`,
		`attribute_uuid`,
		`formversion_uuid`,
		`config`
		)
		VALUES
		(
		#{formUuid},
		#{attributeUuid},
		#{formVersionUuid},
		#{config}
		)
	</insert>

	<delete id="deleteFormAttributeByFormUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`form_attribute`
		WHERE `form_uuid` = #{value}
	</delete>

	<delete id="deleteFormByUuid" parameterType="java.lang.String">
	DELETE FROM `form` WHERE `uuid` = #{uuid}
	</delete>

	<delete id="deleteFormVersionByFormUuid" parameterType="java.lang.String">
	DELETE FROM `form_version` WHERE `form_uuid` = #{formUuid}
	</delete>

	<delete id="deleteProcessFormByFormUuid" parameterType="java.lang.String">
	DELETE FROM `process_form` WHERE `form_uuid` = #{formUuid}
	</delete>
	
	<delete id="deleteFormVersionByUuid" parameterType="java.lang.String">
	DELETE FROM `form_version` WHERE `uuid` = #{uuid}
	</delete>
</mapper>