<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.process.dao.mapper.PriorityMapper">

	<select id="searchPriorityCount" parameterType="codedriver.module.process.dto.PriorityVo" resultType="int">
	SELECT 
	COUNT(`uuid`) 
	FROM `priority`
	WHERE 1=1
	<if test="keyword != null">
	AND `name` LIKE CONCAT('%', #{keyword}, '%')
	</if>
	<if test="isActive != null">
	AND `is_active` = #{isActive}
	</if>
	</select>

	<select id="searchPriorityList" parameterType="codedriver.module.process.dto.PriorityVo" resultType="codedriver.module.process.dto.PriorityVo">
	SELECT 
	`uuid`,
	`name`,
	`is_active` as isActive,
	`desc`,
	`icon`,
	`color`,
	`sort`
	FROM `priority`
	WHERE 1=1
	<if test="keyword != null">
	AND `name` LIKE CONCAT('%', #{keyword}, '%')
	</if>
	<if test="isActive != null">
	AND `is_active` = #{isActive}
	</if>
	ORDER BY `sort` DESC
	<if test="needPage">
	limit #{startNum}, #{pageSize}
	</if>
	</select>
	
	<select id="checkPriorityIsExists" parameterType="java.lang.String" resultType="int">
	SELECT COUNT(`uuid`) FROM `priority` WHERE `uuid`=#{uuid}
	</select>

	<select id="getPriorityByUuid" parameterType="java.lang.String" resultType="codedriver.module.process.dto.PriorityVo">
	SELECT 
	`uuid`, 
	`name`, 
	`is_active` AS isActive, 
	`desc`, 
	`icon`, 
	`color`,
	`sort`
	FROM `priority` 
	WHERE `uuid` = #{uuid}
	</select>

	<select id="checkPriorityNameIsRepeat" parameterType="codedriver.module.process.dto.PriorityVo" resultType="int">
	SELECT COUNT(1) FROM `priority` WHERE `name` = #{name} AND `uuid` != #{uuid}
	</select>
	
	<select id="getMaxSort" resultType="java.lang.Integer">
	SELECT MAX(`sort`) FROM `priority`
	</select>

	<insert id="insertPriority" parameterType="codedriver.module.process.dto.PriorityVo">
	INSERT INTO `priority` (`uuid`, `name`, `is_active`, `desc`, `icon`, `color`, `sort`) 
	VALUES(#{uuid}, #{name}, #{isActive}, #{desc}, #{icon}, #{color}, #{sort})
	</insert>

	<update id="updatePriority">
	UPDATE `priority`
	SET
	`name` = #{name},
	`is_active` = #{isActive},
	`desc` = #{desc},
	`icon` = #{icon},
	`color` = #{color}
	WHERE `uuid` = #{uuid}
	</update>

	<delete id="deletePriorityByUuid" parameterType="java.lang.String">
	DELETE FROM `priority` WHERE `uuid` = #{uuid}
	</delete>
</mapper>