<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.process.dao.mapper.ProcessTaskMapper">

	<select id="getAllProcessTaskSlaTransfer" resultType="codedriver.module.process.dto.ProcessTaskSlaTransferVo">
		SELECT
		`id`,
		`sla_id` AS slaId,
		`hash`,
		DATE_FORMAT(`trigger_time`, '%Y-%m-%d %H:%i:%s') as triggerTime,
		`config`
		FROM
		`processtask_sla_transfer`
	</select>

	<select id="getProcessTaskSlaTransferById" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskSlaTransferVo">
		SELECT
		`id`,
		`sla_id` AS slaId,
		`hash`,
		DATE_FORMAT(`trigger_time`, '%Y-%m-%d %H:%i:%s') as triggerTime,
		`config`
		FROM
		`processtask_sla_transfer`
		WHERE
		id = #{value}
	</select>

	<select id="getAllProcessTaskSlaNotify" resultType="codedriver.module.process.dto.ProcessTaskSlaNotifyVo">
		SELECT
		id,
		`sla_id` AS slaId,
		`hash`,
		DATE_FORMAT(`trigger_time`, '%Y-%m-%d %H:%i:%s') as triggerTime,
		`config`
		FROM
		`processtask_sla_notify`
	</select>

	<select id="getProcessTaskSlaById" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskSlaVo">
		SELECT
		`processtask_id` AS processTaskId,
		`id`,
		`name`,
		`config`
		FROM
		`processtask_sla`
		WHERE
		id = #{value}
	</select>

	<select id="getProcessTaskNotifyById" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskSlaNotifyVo">
		SELECT
		id,
		`sla_id` AS slaId,
		`hash`,
		DATE_FORMAT(`trigger_time`, '%Y-%m-%d %H:%i:%s') as triggerTime,
		`config`
		FROM
		`processtask_sla_notify`
		WHERE
		id = #{value}
	</select>

	<select id="getProcessTaskStepRelByProcessTaskId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepRelVo">
		SELECT
		`processtask_id` AS processTaskId,
		`from_process_step_uuid` AS fromProcessStepUuid,
		`to_process_step_uuid` AS toProcessStepUuid,
		`from_processtask_step_id` AS fromProcessTaskStepId,
		`to_processtask_step_id` AS toProcessTaskStepId,
		(SELECT xx.`handler` FROM `processtask_step` xx WHERE xx.id = `to_processtask_step_id`) AS toProcessStepHandler,
		`condition`,
		`uuid` as processStepRelUuid,
		`is_hit` AS isHit
		FROM
		`processtask_step_rel`
		WHERE processtask_id = #{value}
	</select>

	<select id="getProcessTaskConfigByHash" parameterType="java.lang.String" resultType="codedriver.module.process.dto.ProcessTaskConfigVo">
		SELECT
		`hash`,
		`config`
		FROM
		`processtask_config`
		WHERE
		`hash` = #{value}
	</select>

	<resultMap id="processTaskSlaMap" type="codedriver.module.process.dto.ProcessTaskSlaVo">
		<id column="id" property="id" />
		<result column="processTaskId" property="processTaskId" />
		<result column="name" property="name" />
		<result column="config" property="config" />
		<association property="slaTimeVo" javaType="codedriver.module.process.dto.ProcessTaskSlaTimeVo">
			<result column="expireTime" property="expireTime" />
			<result column="realExpireTime" property="realExpireTime" />
			<result column="timeLeft" property="timeLeft" />
			<result column="realTimeLeft" property="realTimeLeft" />
			<result column="timeSum" property="timeSum" />
		</association>
	</resultMap>

	<select id="getProcessTaskSlaByProcessTaskStepId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskSlaVo">
		SELECT
		`processtask_id` as processTaskId,
		`id`,
		`name`,
		`config`,
		DATE_FORMAT(c.`expire_time`, '%Y-%m-%d %H:%i:%s') as expireTime,
		DATE_FORMAT(c.`realexpire_time`, '%Y-%m-%d %H:%i:%s') AS realExpireTime,
		c.`time_left` as timeLeft,
		c.`realtime_left` as realTimeLeft,
		c.`time_sum` as timeSum
		FROM
		`processtask_sla` a
		JOIN `processtask_step_sla` b
		ON a.`id` = b.`sla_id`
		LEFT JOIN processtask_sla_time c ON a.id = c.sla_id
		WHERE b.`processtask_step_id` = #{value}
	</select>

	<select id="getProcessTaskSlaTimeBySlaId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskSlaTimeVo">
		SELECT
		`sla_id` as slaId,
		DATE_FORMAT(`expire_time`, '%Y-%m-%d %H:%i:%s') as expireTime,
		DATE_FORMAT(`realexpire_time`, '%Y-%m-%d %H:%i:%s') AS realExpireTime,
		`time_left` as timeLeft,
		`realtime_left` as realTimeLeft,
		`time_sum` as timeSum
		FROM
		`processtask_sla_time`
		WHERE sla_id = #{value}
	</select>

	<select id="getProcessTaskStepAuditDetail" resultType="codedriver.module.process.dto.ProcessTaskStepAuditDetailVo">
		SELECT
		b.`audit_id` AS auditId,
		b.`old_content` AS oldContent,
		b.`new_content` AS newContent,
		b.`type` AS `type`
		FROM
		`processtask_step_audit` a JOIN `processtask_step_audit_detail` b ON a.`id` = b.`audit_id` AND b.`type` = #{type}
		WHERE a.`processtask_id` = #{processTaskId}
		ORDER BY auditId DESC
		LIMIT 1
	</select>

	<select id="getProcessTaskBaseInfoById" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskVo">
		SELECT
		`id`,
		`title`,
		`process_uuid` AS processUuid,
		`channel_uuid` AS channelUuid,
		`config_hash` AS configHash,
		`priority_uuid` AS priorityUuid,
		`status`,
		DATE_FORMAT(`start_time`,'%Y-%m-%d %H:%i:%s') AS startTime,
		DATE_FORMAT(`end_time`,'%Y-%m-%d %H:%i:%s') AS endTime,
		`owner`,
		(SELECT user_name FROM `user` x WHERE x.user_id = `owner`) AS ownerName,
		`reporter`,
		(SELECT user_name FROM `user` x WHERE x.user_id = `reporter`) AS reporterName,
		DATE_FORMAT(`expire_time`,'%Y-%m-%d %H:%i:%s') AS expireTime,
		`error`
		FROM
		`processtask`
		WHERE
		id = #{value}
	</select>

	<select id="getProcessTaskStepConfigByHash" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT
		`config`
		FROM
		`processtask_step_config`
		WHERE `hash` = #{value}
	</select>

	<select id="getProcessTaskFormByProcessTaskId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskFormVo">
		SELECT
		a.`processtask_id` as processTaskId,
		a.`form_uuid` as formUuid,
		a.`form_name` as formName,
		a.`form_content_hash` as formContentHash,
		b.`content` as formContent
		FROM
		`processtask_form` a JOIN `processtask_form_content` b ON a.`form_content_hash` = b.`hash`
		WHERE
		`processtask_id` = #{value}
	</select>

	<select id="getProcessTaskStepFormAttributeDataByProcessTaskStepId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskFormAttributeDataVo">
		SELECT
		a.`processtask_id` AS processTaskId,
		a.`processtask_step_id` AS processTaskStepId,
		a.`attribute_uuid` AS attributeUuid,
		b.`data`,
		b.`type`
		FROM
		`processtask_step_formattribute` a
		JOIN `processtask_formattribute_data` b ON a.`attribute_uuid` = b.`attribute_uuid` AND a.`processtask_id` = b.`processtask_id`
		WHERE
		a.`processtask_step_id` = #{value}
	</select>

	<select id="getProcessTaskStepFormAttributeDataByProcessTaskId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskFormAttributeDataVo">
		SELECT
		`processtask_id` AS processTaskId,
		`attribute_uuid` AS attributeUuid,
		`type` AS type,
		`data`
		FROM
		`processtask_formattribute_data`
		WHERE `processtask_id` = #{value}
	</select>

	<select id="getProcessTaskContentByHash" parameterType="java.lang.String" resultType="codedriver.module.process.dto.ProcessTaskContentVo">
		SELECT
		`hash`,
		`content`
		FROM
		`processtask_content`
		WHERE
		`hash` = #{value}
	</select>

	<select id="getProcessTaskStepContentProcessTaskStepId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepContentVo">
		SELECT
		`id`,
		`processtask_step_id` AS processTaskStepId,
		`content_hash` AS contentHash,
		`fcd`,
		`fcu`,
		`lcd`,
		`lcu`
		FROM
		`processtask_step_content`
		WHERE
		processtask_step_id = #{value}
	</select>

	<select id="getProcessTaskStepUserByStepId" resultType="codedriver.module.process.dto.ProcessTaskStepUserVo">
		SELECT
		`processtask_id` as processTaskId,
		`processtask_step_id` as processTaskStepId,
		`user_id` as userId,
		`user_type` as userType,
		`user_name` as userName,
		`status` as status,
		`action`,
		DATE_FORMAT(`start_time`,'%Y-%m-%d %H:%i:%s') AS startTime,
		DATE_FORMAT(`end_time`,'%Y-%m-%d %H:%i:%s') AS endTime,
		DATE_FORMAT(`active_time`,'%Y-%m-%d %H:%i:%s') AS activeTime
		FROM
		`processtask_step_user`
		WHERE
		processtask_step_id = #{processTaskStepId}
		<if test="userType != null and userType != ''">
			and user_type = #{userType}
		</if>
	</select>

	<select id="searchProcessTaskStep" parameterType="codedriver.module.process.dto.ProcessTaskStepVo" resultType="codedriver.module.process.dto.ProcessTaskStepVo">
		SELECT
		`id`,
		`processtask_id` AS processTaskId,
		`name`,
		`process_step_uuid` AS processStepUuid,
		`status`,
		`result`,
		`type`,
		`handler`,
		`is_active` AS isActive,
		DATE_FORMAT(a.`start_time`,'%Y-%m-%d %H:%i:%s') AS startTime,
		DATE_FORMAT(a.`end_time`,'%Y-%m-%d %H:%i:%s') AS endTime,
		DATE_FORMAT(a.`expire_time`,'%Y-%m-%d %H:%i:%s') AS endTime,
		`error`
		FROM
		`processtask_step` a
		WHERE
		1=1
		<if test="processStepUuid != null and processStepUuid != ''">
			AND `process_step_uuid` = #{processStepUuid}
		</if>
		<if test="needPage == true">
			LIMIT #{startNum}, #{pageSize}
		</if>
	</select>

	<select id="getProcessAssignUserByToStepId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskAssignUserVo">
		SELECT
		`processtask_id` AS processTaskId,
		`from_step_id` AS fromStepId,
		`to_step_id` AS toStepId,
		`user_id` AS userId,
		`assign_time` AS assignTime
		FROM
		`processtask_assignuser`
		WHERE
		to_step_id = #{value}
		ORDER BY assign_time
	</select>

	<select id="getProcessTaskStepTimeoutPolicyByProcessTaskStepId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepTimeoutPolicyVo">
		SELECT
		`processtask_id` as processTaskId,
		`processtask_step_id` as processTaskStepId,
		`process_step_uuid` as processStepUuid,
		`policy`,
		`sort`,
		`time`,
		`config`
		FROM
		`processtask_step_timeout_policy`
		WHERE
		`processtask_step_id` = #{value}
		ORDER BY `sort`
	</select>

	<select id="getProcessTaskStepWorkerPolicyByProcessTaskStepId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepWorkerPolicyVo">
		SELECT
		`processtask_id` as processTaskId,
		`processtask_step_id` as processTaskStepId,
		`process_step_uuid` as processStepUuid,
		`policy`,
		`sort`,
		`config`
		FROM
		`processtask_step_worker_policy`
		WHERE
		`processtask_step_id` = #{value}
		ORDER BY `sort`
	</select>

	<select id="checkProcessTaskStepUserIsExists" parameterType="codedriver.module.process.dto.ProcessTaskStepUserVo" resultType="int">
		SELECT
		COUNT(1)
		FROM
		`processtask_step_user`
		WHERE
		`processtask_step_id` = #{processTaskStepId}
		AND
		`user_id` = #{userId}
	</select>

	<select id="getProcessTaskStepWorkerByProcessTaskStepId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepWorkerVo">
		SELECT
		`processtask_id` AS processTaskId,
		`processtask_step_id` AS processTaskStepId,
		`user_id` AS userId
		FROM
		`processtask_step_worker`
		WHERE
		processtask_step_id = #{value}
	</select>

	<select id="getFromProcessTaskStepByToId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepVo">
		SELECT
		a.`id`,
		a.`process_step_uuid` AS processStepUuid,
		a.`processtask_id` AS processTaskId,
		a.`status`,
		DATE_FORMAT(a.`start_time`,'%Y-%m-%d %H:%i:%s') AS startTime,
		DATE_FORMAT(a.`end_time`,'%Y-%m-%d %H:%i:%s') AS endTime,
		a.`is_active` AS isActive,
		a.`type`,
		a.`handler`,
		a.`name`
		FROM
		processtask_step a
		JOIN
		processtask_step_rel b ON a.id = b.from_processtask_step_id
		WHERE
		to_processtask_step_id = #{value}
	</select>

	<select id="getProcessTaskStepByConvergeId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepVo">
		SELECT
		b.`id`,
		b.`status`,
		b.`name`,
		b.`type`,
		b.`handler`,
		b.`is_active` AS isActive,
		a.`is_check` AS isCheck
		FROM
		`processtask_converge` a JOIN
		`processtask_step` b ON a.`processtask_step_id` = b.`id`
		WHERE
		a.`converge_id` = #{value}
	</select>

	<select id="getProcessTaskStepIdByConvergeId" parameterType="java.lang.Long" resultType="java.lang.Long">
		SELECT
		a.`processtask_step_id`
		FROM
		`processtask_converge` a
		WHERE
		a.`converge_id` = #{value}
	</select>

	<select id="getProcessTaskLockById" parameterType="java.lang.Long" resultType="java.lang.Long">
		SELECT id FROM processtask WHERE id = #{value} FOR UPDATE
	</select>

	<select id="getToProcessTaskStepByFromId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepVo">
		SELECT
		a.`id`,
		a.`processtask_id` AS processTaskId,
		a.`name`,
		a.`process_step_uuid` AS processStepUuid,
		a.`status`,
		a.`result`,
		a.`type`,
		a.`handler`,
		a.`is_active`,
		DATE_FORMAT(a.`start_time`, '%Y-%m-%d %H:%i:%s') AS startTime,
		DATE_FORMAT(a.`end_time`,'%Y-%m-%d %H:%i:%s') AS endTime,
		a.`error`
		FROM
		`processtask_step` a JOIN `processtask_step_rel` b ON a.`id` = b.`to_processtask_step_id`
		WHERE
		b.`from_processtask_step_id` = #{value}
	</select>

	<select id="checkProcessTaskConvergeIsExists" parameterType="codedriver.module.process.dto.ProcessTaskConvergeVo" resultType="int">
		SELECT
		COUNT(1)
		FROM
		`processtask_converge`
		WHERE
		processtask_id =
		#{processTaskId}
		AND
		converge_id = #{convergeId}
		AND
		processtask_step_id = #{processTaskStepId}
	</select>

	<select id="getProcessTaskStepByProcessTaskIdAndType" resultType="codedriver.module.process.dto.ProcessTaskStepVo">
		SELECT
		`id`,
		`processtask_id` AS processTaskId,
		`name`,
		`process_step_uuid` AS processStepUuid,
		`status`,
		`result`,
		`type`,
		`handler`,
		`is_active` AS isActive,
		`start_time`,
		`end_time`,
		`error`
		FROM
		`processtask_step`
		WHERE `processtask_id` = #{processTaskId}
		AND
		`type` = #{type}
	</select>
	
	<resultMap id="processTaskStepDetailMap" type="codedriver.module.process.dto.ProcessTaskStepVo">
		<id column="id" property="id" />
		<result column="processTaskId" property="processTaskId" />
		<result column="name" property="name" />
		<result column="processStepUuid" property="processStepUuid" />
		<result column="status" property="status" />
		<result column="result" property="result" />
		<result column="type" property="type" />
		<result column="handler" property="handler" />
		<result column="isActive" property="isActive" />
		<result column="startTime" property="startTime" />
		<result column="endTime" property="endTime" />
		<result column="error" property="error" />
		<collection property="workerList" ofType="codedriver.module.process.dto.ProcessTaskStepWorkerVo">
			<result column="roleName" property="roleName" />
			<result column="teamUuid" property="teamUuid" />
			<result column="userId" property="userId" />
		</collection>
	</resultMap>
	
	<select id="getProcessTaskActiveStepByProcessTaskId" parameterType="java.lang.Long" resultMap="processTaskStepDetailMap">
		SELECT 
		ps.`id`,
		ps.`processtask_id` AS processTaskId,
		ps.`name`,
		ps.`process_step_uuid` AS processStepUuid,
		ps.`status`,
		ps.`result`,
		ps.`type`,
		ps.`handler`,
		ps.`is_active` AS isActive,
		ps.`start_time` AS startTime,
		ps.`end_time` AS endTime,
		ps.`error`,
		psw.`role_name` AS roleName,
		psw.`team_uuid` AS teamUuid,
		psw.`user_id` AS userId
		FROM `processtask_step` ps 
		LEFT JOIN `processtask_step_worker` psw ON ps.`processtask_id` = psw.`processtask_id` AND ps.`id` AND psw.`processtask_step_id` 
		WHERE ps.`processtask_id` = #{processTaskId} AND ps.`type` = 'process' AND ps.`is_active` =1 AND psw.`action` = 'handle'  
	</select>

	<select id="getProcessTaskStepRelByToId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepRelVo">
		SELECT
		`processtask_id` AS processTaskId,
		`from_process_step_uuid` AS fromProcessStepUuid,
		`to_process_step_uuid` AS toProcessStepUuid,
		`from_processtask_step_id` AS fromProcessTaskStepId,
		`to_processtask_step_id` AS toProcessTaskStepId,
		(SELECT xx.`handler` FROM `processtask_step` xx WHERE xx.id = `to_processtask_step_id`) AS toProcessStepHandler,
		`condition`,
		`is_hit` AS isHit
		FROM
		`processtask_step_rel`
		WHERE to_processtask_step_id = #{value}
	</select>

	<select id="getProcessTaskStepRelByFromId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepRelVo">
		SELECT
		`processtask_id` AS processTaskId,
		`from_process_step_uuid` AS fromProcessStepUuid,
		`to_process_step_uuid` AS toProcessStepUuid,
		`from_processtask_step_id` AS fromProcessTaskStepId,
		`to_processtask_step_id` AS toProcessTaskStepId,
		(SELECT xx.`handler` FROM `processtask_step` xx WHERE xx.id = `to_processtask_step_id`) AS toProcessStepHandler,
		`condition`,
		`is_hit` AS isHit
		FROM
		`processtask_step_rel`
		WHERE from_processtask_step_id = #{value}
	</select>

	<select id="getProcessTaskStepBaseInfoById" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepVo">
		SELECT
		`id`,
		`processtask_id` AS processTaskId,
		`name`,
		`process_step_uuid` AS processStepUuid,
		`status`,
		`result`,
		`type`,
		`handler`,
		`is_active` AS isActive,
		`config_hash` AS configHash,
		`start_time`,
		`end_time`,
		`error`
		FROM
		`processtask_step`
		WHERE id = #{value}
	</select>

	<select id="getProcessTaskStepBaseInfoBySlaId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepVo">
		SELECT
		`id`,
		`processtask_id` AS processTaskId,
		`name`,
		`process_step_uuid` AS processStepUuid,
		`status`,
		`result`,
		`type`,
		`handler`,
		`is_active` AS isActive,
		`config_hash` AS configHash,
		`start_time`,
		`end_time`,
		`error`
		FROM
		`processtask_step` a JOIN `processtask_step_sla` b ON
		a.id = b.processtask_step_id
		WHERE b.sla_id = #{value}
	</select>

	<select id="getProcessTaskStepBaseInfoByProcessTaskId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepVo">
		SELECT
		`id`,
		`processtask_id` AS processTaskId,
		`name`,
		`process_step_uuid` AS processStepUuid,
		`status`,
		`result`,
		`type`,
		`handler`,
		`is_active` AS isActive,
		`config_hash` AS configHash,
		`start_time`,
		`end_time`,
		`error`
		FROM
		`processtask_step`
		WHERE `processtask_id` = #{value}
	</select>

	<resultMap id="processTaskStepFormAttributeResultMap" type="codedriver.module.process.dto.ProcessTaskStepFormAttributeVo">
		<id column="processTaskStepId" property="processTaskStepId" />
		<id column="attributeUuid" property="attributeUuid" />
		<id column="processTaskId" property="processTaskId" />
		<result column="isEditable" property="isEditable" />
		<result column="label" property="label" />
		<result column="handler" property="handler" />
		<result column="config" property="config" />
		<result column="data" property="data" />
	</resultMap>

	<select id="getProcessTaskStepFormAttributeByStepId" parameterType="codedriver.module.process.dto.ProcessTaskStepFormAttributeVo" resultMap="processTaskStepFormAttributeResultMap">
		SELECT
		a.`processtask_step_id` AS processTaskStepId,
		a.`attribute_uuid` AS attributeUuid,
		a.`processtask_id` AS processTaskId,
		a.`is_editable` AS isEditable,
		a.`config`,
		f.`label`,
		f.`handler`,
		e.`data`,
		e.`attribute_uuid` AS dataAttributeUuid,
		e.`processtask_id` AS dataProcessTaskId
		FROM
		`processtask_step_formattribute` a
		LEFT JOIN `processtask_formattribute_data` e ON a.`processtask_id` = e.`processtask_id` AND a.`attribute_uuid` = e.`attribute_uuid`
		JOIN `form_attribute` f ON a.`attribute_uuid` = f.`uuid`
		WHERE
		a.`processtask_step_id` = #{processTaskStepId}
		<if test="attributeUuid != null and attributeUuid != ''">
			AND
			a.attribute_uuid = #{attributeUuid}
		</if>
	</select>
	
	<select id="getProcessTaskById" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskVo">
	SELECT 
	  `id`,
	  `title`,
	  `process_uuid` AS processUuid,
	  `channel_uuid` AS channelUuid,
	  `config_hash` AS configHash,
	  `priority_uuid` AS priorityUuid,
	  `status`,
	  `start_time` AS startTime,
	  `end_time` AS endTime,
	  `owner`,
	  `reporter`,
	  `expire_time` AS expireTime,
	  `error` 
	FROM `processtask` 
	WHERE `id`= #{id}
	</select>

	<update id="updateProcessTaskStepConvergeIsCheck">
		UPDATE `processtask_converge` SET is_check = #{isCheck} WHERE converge_id = #{convergeId}
		AND processtask_step_id = #{processTaskStepId}
	</update>

	<update id="updateProcessTaskStepRelIsHit">
		UPDATE
		`processtask_step_rel`
		SET
		`is_hit` = #{isHit}
		WHERE `from_processtask_step_id` = #{fromProcessTaskStepId}
		<if test="toProcessTaskStepId != null">
			AND `to_processtask_step_id` = #{toProcessTaskStepId}
		</if>
	</update>

	<update id="updateProcessTaskStepStatus" parameterType="codedriver.module.process.dto.ProcessTaskStepVo">
		UPDATE
		`processtask_step`
		SET
		`status` = #{status},
		`result` = #{result},
		`is_active` = #{isActive},
		<if test="isActive == 1">
			`start_time` = NOW(3),
		</if>
		<if test="isActive == 2">
			`end_time` = NOW(3),
		</if>
		`error` = #{error}
		WHERE `id` = #{id}
	</update>

	<update id="updateProcessTaskStepExpireTime" parameterType="codedriver.module.process.dto.ProcessTaskStepVo">
		UPDATE
		`processtask_step`
		SET
		`expire_time` = #{expireTime}
		WHERE `id` = #{id}
	</update>

	<insert id="insertProcessTaskSlaNotify" parameterType="codedriver.module.process.dto.ProcessTaskSlaNotifyVo">
		<selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			select LAST_INSERT_ID() as id
		</selectKey>
		INSERT INTO `processtask_sla_notify` (
		`sla_id`,
		`hash`,
		`trigger_time`,
		`config`
		)
		VALUES
		(
		#{slaId},
		#{hash},
		#{triggerTime},
		#{config}
		)
	</insert>

	<insert id="insertProcessTaskSlaTransfer" parameterType="codedriver.module.process.dto.ProcessTaskSlaTransferVo">
		<selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			select LAST_INSERT_ID() as id
		</selectKey>
		INSERT INTO `processtask_sla_transfer` (
		`sla_id`,
		`hash`,
		`trigger_time`,
		`config`
		)
		VALUES
		(
		#{slaId},
		#{hash},
		#{triggerTime},
		#{config}
		)
	</insert>

	<insert id="insertProcessTaskStepSla">
		INSERT INTO `processtask_step_sla` (`processtask_step_id`, `sla_id`)
		VALUES
		(#{processTaskStepId}, #{slaId});
	</insert>

	<insert id="insertProcessTaskSla" parameterType="codedriver.module.process.dto.ProcessTaskSlaVo">
		<selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			select LAST_INSERT_ID() as id
		</selectKey>
		INSERT INTO `processtask_sla` (
		`processtask_id`,
		`name`,
		`config`
		)
		VALUES
		(
		#{processTaskId},
		#{name},
		#{config}
		)
	</insert>

	<insert id="insertProcessTaskStepAuditDetail" parameterType="codedriver.module.process.dto.ProcessTaskStepAuditDetailVo">
		INSERT INTO `processtask_step_audit_detail` (
		`audit_id`,
		`type`,
		`old_content`,
		`new_content`
		)
		VALUES
		(
		#{auditId},
		#{type},
		#{oldContent},
		#{newContent}
		)
	</insert>

	<insert id="insertProcessTaskStepAudit" parameterType="codedriver.module.process.dto.ProcessTaskStepAuditVo">
		<selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			select LAST_INSERT_ID() as id
		</selectKey>
		INSERT INTO `processtask_step_audit` (
		`processtask_id`,
		`processtask_step_id`,
		`user_id`,
		`action_time`,
		`action`
		)
		VALUES
		(
		#{processTaskId},
		#{processTaskStepId},
		#{userId},
		NOW(3),
		#{action}
		)
	</insert>

	<insert id="insertProcessTaskForm" parameterType="codedriver.module.process.dto.ProcessTaskFormVo">
		INSERT INTO `processtask_form` (
		`processtask_id`,
		`form_uuid`,
		`form_name`,
		`form_content_hash`
		)
		VALUES
		(
		#{processTaskId},
		#{formUuid},
		#{formName},
		#{formContentHash}
		)
	</insert>

	<insert id="replaceProcessTaskFormContent" parameterType="codedriver.module.process.dto.ProcessTaskFormVo">
		REPLACE INTO `processtask_form_content` (`hash`, `content`)
		VALUES
		(#{formContentHash}, #{formContent});
	</insert>

	<insert id="insertProcessTaskStepTimeoutPolicy" parameterType="codedriver.module.process.dto.ProcessTaskStepTimeoutPolicyVo">
		INSERT INTO `processtask_step_timeout_policy` (
		`processtask_id`,
		`processtask_step_id`,
		`process_step_uuid`,
		`policy`,
		`sort`,
		`time`,
		`config`
		)
		VALUES
		(
		#{processTaskId},
		#{processTaskStepId},
		#{processStepUuid},
		#{policy},
		#{sort},
		#{time},
		#{config}
		)
	</insert>

	<insert id="insertProcessTaskStepWorkerPolicy" parameterType="codedriver.module.process.dto.ProcessTaskStepWorkerPolicyVo">
		INSERT INTO `processtask_step_worker_policy` (
		`processtask_id`,
		`processtask_step_id`,
		`process_step_uuid`,
		`policy`,
		`sort`,
		`config`
		)
		VALUES
		(
		#{processTaskId},
		#{processTaskStepId},
		#{processStepUuid},
		#{policy},
		#{sort},
		#{config}
		)
	</insert>

	<insert id="replaceProcessTaskFormAttributeData" parameterType="codedriver.module.process.dto.ProcessTaskFormAttributeDataVo">
		REPLACE INTO `processtask_formattribute_data` (
		`processtask_id`,
		`attribute_uuid`,
		`data`,
		`type`
		)
		VALUES
		(
		#{processTaskId},
		#{attributeUuid},
		#{data},
		#{type}
		)
	</insert>

	<insert id="insertProcessTaskConverge" parameterType="codedriver.module.process.dto.ProcessTaskConvergeVo">
		INSERT INTO `processtask_converge` (
		`converge_id`,
		`processtask_step_id`,
		`processtask_id`
		)
		VALUES
		(
		#{convergeId},
		#{processTaskStepId},
		#{processTaskId}
		)
	</insert>

	<insert id="insertProcessTaskStepWorker" parameterType="codedriver.module.process.dto.ProcessTaskStepWorkerVo">
		INSERT INTO `processtask_step_worker` (
		`processtask_id`,
		`processtask_step_id`,
		`user_id`,
		`team_uuid`,
		`role_name`,
		`action`
		)
		VALUES
		(
		#{processTaskId},
		#{processTaskStepId},
		#{userId},
		#{teamUuid},
		#{roleName},
		#{action}
		)
	</insert>

	<insert id="insertProcessTaskStepRel" parameterType="codedriver.module.process.dto.ProcessTaskStepRelVo">
		INSERT INTO `processtask_step_rel` (
		`processtask_id`,
		`from_process_step_uuid`,
		`to_process_step_uuid`,
		`from_processtask_step_id`,
		`to_processtask_step_id`,
		`condition`,
		`is_hit`,
		`uuid`
		)
		VALUES
		(
		#{processTaskId},
		#{fromProcessStepUuid},
		#{toProcessStepUuid},
		#{fromProcessTaskStepId},
		#{toProcessTaskStepId},
		#{condition},
		#{isHit},
		#{processStepRelUuid}
		)
	</insert>

	<insert id="insertProcessTaskStepTeam" parameterType="codedriver.module.process.dto.ProcessTaskStepTeamVo">
		INSERT INTO `processtask_step_team` (
		`processtask_step_id`,
		`team_id`,
		`team_name`
		)
		VALUES
		(
		#{processTaskStepId},
		#{teamId},
		#{teamName}
		)
	</insert>

	<insert id="insertProcessTaskStep" parameterType="codedriver.module.process.dto.ProcessTaskStepVo">
		<selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			select LAST_INSERT_ID() as id
		</selectKey>
		INSERT INTO `processtask_step` (
		`processtask_id`,
		`name`,
		`process_step_uuid`,
		`status`,
		`type`,
		`handler`,
		`is_active`,
		`config_hash`
		)
		VALUES
		(
		#{processTaskId},
		#{name,typeHandler=XssHandler},
		#{processStepUuid},
		#{status},
		#{type},
		#{handler},
		#{isActive},
		#{configHash}
		)
	</insert>

	<insert id="insertProcessTask" parameterType="codedriver.module.process.dto.ProcessTaskVo">
		<selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			select LAST_INSERT_ID() as id
		</selectKey>
		INSERT INTO `processtask` (
		`title`,
		`process_uuid`,
		`channel_uuid`,
		`config_hash`,
		`status`,
		`start_time`,
		`owner`,
		`reporter`,
		`expire_time`
		)
		VALUES
		(
		#{title},
		#{processUuid},
		#{channelUuid},
		#{configHash},
		#{status},
		NOW(3),
		#{owner},
		#{reporter},
		#{expireTime}
		)
	</insert>

	<insert id="insertProcessTaskChannel" parameterType="codedriver.module.process.dto.ProcessTaskVo">
		INSERT INTO `processtask_channel` (
		`processtask_id`,
		`channel_uuid`
		)
		VALUES
		(
		#{id},
		#{channelUuid}
		)
	</insert>

	<insert id="replaceProcessTaskContent" parameterType="codedriver.module.process.dto.ProcessTaskContentVo">
		REPLACE INTO `processtask_content` (`content`,`hash`)
		VALUES
		(#{content}, #{hash})
	</insert>

	<insert id="insertProcessTaskStepContent" parameterType="codedriver.module.process.dto.ProcessTaskStepContentVo">
		INSERT INTO `processtask_step_content` (
		`processtask_step_id`,
		`content_hash`,
		`fcd`,
		`fcu`
		)
		VALUES
		(
		#{processTaskStepId},
		#{contentHash},
		NOW(3),
		#{fcu}
		)
	</insert>

	<insert id="insertProcessTaskStepAuditFormAttributeData" parameterType="codedriver.module.process.dto.ProcessTaskStepAuditFormAttributeDataVo">
		INSERT INTO `processtask_step_audit_formattribute_data` (
		`audit_id`,
		`form_uuid`,
		`processtask_step_id`,
		`attribute_uuid`,
		`data`
		)
		VALUES
		(
		#{auditId},
		#{formUuid},
		#{processTaskStepId},
		#{attributeUuid},
		#{data}
		)
	</insert>

	<insert id="insertProcessTaskStepUser" parameterType="codedriver.module.process.dto.ProcessTaskStepUserVo">
		INSERT INTO `processtask_step_user` (
		`processtask_id`,
		`processtask_step_id`,
		`user_id`,
		`user_type`,
		`user_name`,
		`status`,
		`active_time`,
		`start_time`
		)
		VALUES
		(
		#{processTaskId},
		#{processTaskStepId},
		#{userId},
		#{userType},
		#{userName},
		#{status},
		NOW(3),
		NOW(3)
		)
	</insert>

	<insert id="replaceProcessTaskStepConfig" parameterType="codedriver.module.process.dto.ProcessTaskStepConfigVo">
		REPLACE INTO `processtask_step_config` (`hash`, `config`)
		VALUES
		(#{hash}, #{config})
	</insert>

	<insert id="insertProcessTaskStepFormAttribute" parameterType="codedriver.module.process.dto.ProcessTaskStepFormAttributeVo">
		INSERT INTO `processtask_step_formattribute` (
		`processtask_id`,
		`processtask_step_id`,
		`attribute_uuid`,
		`is_editable`,
		`config`
		)
		VALUES
		(
		#{processTaskId},
		#{processTaskStepId},
		#{attributeUuid},
		#{isEditable},
		#{config}
		)
	</insert>

	<insert id="replaceProcessTaskConfig" parameterType="codedriver.module.process.dto.ProcessTaskConfigVo">
		REPLACE INTO `processtask_config` (`hash`, `config`)
		VALUES
		(#{hash}, #{config})
	</insert>

	<insert id="insertProcessTaskSlaTime" parameterType="codedriver.module.process.dto.ProcessTaskSlaTimeVo">
		INSERT INTO `processtask_sla_time` (
		`sla_id`,
		`time_sum`,
		`expire_time`,
		`realexpire_time`,
		`time_left`,
		`realtime_left`
		)
		VALUES
		(
		#{slaId},
		#{timeSum},
		#{expireTime},
		#{realExpireTime},
		#{timeLeft},
		#{realTimeLeft}
		)
	</insert>

	<update id="updateProcessTaskSlaTransfer" parameterType="codedriver.module.process.dto.ProcessTaskSlaTransferVo">
		UPDATE
		`processtask_sla_transfer`
		SET
		`trigger_time` = #{triggerTime}
		WHERE id = #{id}
	</update>

	<update id="updateProcessTaskSlaNotify" parameterType="codedriver.module.process.dto.ProcessTaskSlaNotifyVo">
		UPDATE
		`processtask_sla_notify`
		SET
		`trigger_time` = #{triggerTime}
		WHERE id = #{id}
	</update>

	<update id="updateProcessTaskSlaTime" parameterType="codedriver.module.process.dto.ProcessTaskSlaTimeVo">
		UPDATE
		`processtask_sla_time`
		SET
		`expire_time` = #{expireTime},
		`realexpire_time` = #{realExpireTime},
		`time_left` = #{timeLeft},
		`realtime_left` = #{realTimeLeft},
		`time_sum` = #{timeSum}
		WHERE `sla_id` = #{slaId}
	</update>

	<update id="updateProcessTaskStepUserStatus" parameterType="codedriver.module.process.dto.ProcessTaskStepUserVo">
		UPDATE
		`processtask_step_user`
		SET
		`status` = #{status}
		<choose>
			<when test="status == 'doing'">
				,`start_time` = NOW(3),
				`end_time` = null
			</when>
			<when test="status == 'done'">
				,`end_time` = NOW(3)
			</when>
		</choose>
		WHERE
		`processtask_step_id` = #{processTaskStepId}
		AND `user_id` = #{userId}
	</update>

	<update id="updateProcessTaskStatus" parameterType="codedriver.module.process.dto.ProcessTaskVo">
		UPDATE
		`processtask`
		SET
		`status` = #{status},
		<choose>
			<when test="status == 'succeed' or status == 'failed' or status == 'aborted'">
				`end_time` = NOW(3)
			</when>
		</choose>
		WHERE
		`id` = #{id}
	</update>

	<delete id="deleteProcessTaskStepWorkerByProcessTaskId" parameterType="java.lang.Long">
		DELETE
		FROM
		`processtask_step_worker`
		WHERE `processtask_id` = #{value}
	</delete>

	<delete id="deleteProcessTaskConvergeByStepId" parameterType="java.lang.Long">
		DELETE
		FROM
		`processtask_converge`
		WHERE
		`processtask_step_id` = #{value}
	</delete>

	<delete id="deleteProcessTaskFormAttributeValueByProcessTaskIdAndAttributeUuid">
		DELETE
		FROM
		`processtask_formattribute_value`
		WHERE `processtask_id` = #{processTaskId}
		AND `attribute_uuid` = #{attributeUuid}
	</delete>

	<delete id="deleteProcessTaskStepWorker">
		DELETE
		FROM
		`processtask_step_worker`
		WHERE `processtask_step_id` = #{processTaskStepId}
		<if test="userId != null and userId != ''">
			AND `user_id` = #{userId}
		</if>
	</delete>

	<delete id="deleteProcessTaskStepUser">
		DELETE
		FROM
		`processtask_step_user`
		WHERE `processtask_step_id` = #{processTaskStepId}
		<if test="userType != null and userType != ''">
			AND `user_type` = #{userType}
		</if>
	</delete>

	<delete id="deleteProcessTaskSlaNotifyById" parameterType="java.lang.Long">
		DELETE
		FROM
		`processtask_sla_notify`
		WHERE id = #{value}
	</delete>

	<delete id="deleteProcessTaskSlaTransferById" parameterType="java.lang.Long">
		DELETE
		FROM
		`processtask_sla_transfer`
		WHERE id = #{value}
	</delete>
</mapper>