<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.process.dao.mapper.ProcessTaskMapper">

	<select id="getProcessTaskAttributeValueByProcessTaskId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskAttributeValueVo">
		SELECT
		`processtask_id` AS processTaskId,
		`attribute_uuid` AS attributeUuid,
		`value`
		FROM
		`processtask_attribute_value`
		WHERE
		`processtask_id` = #{value}
	</select>

	<select id="getProcessTaskAttributeDataByProcessTaskId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskAttributeDataVo">
		SELECT
		`processtask_id` AS processTaskId,
		`attribute_uuid` AS attributeUuid,
		`data`
		FROM
		`processtask_attribute_data`
		WHERE processtask_id = #{value}
	</select>

	<select id="getProcessTaskStepConfigByStepId" parameterType="java.lang.Long" resultType="java.lang.String">
		SELECT
		`config`
		FROM
		`bsm`.`processtask_step_config`
		WHERE `processtask_step_id` = #{value}
	</select>

	<select id="getProcessTaskFormByProcessTaskId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskFormVo">
		SELECT
		`processtask_id` as processTaskId,
		`form_uuid` as formUuid,
		`form_name` as formName,
		`form_content` as formContent
		FROM
		`processtask_form`
		WHERE
		`processtask_id` = #{value}
	</select>

	<select id="getProcessTaskStepFormAttributeDataByStepId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskAttributeDataVo">
		SELECT
		a.`processtask_id` AS processTaskId,
		a.`processtask_step_id` AS processTaskStepId,
		a.`attribute_uuid` AS attributeUuid,
		c.`data`
		FROM
		`processtask_step_formattribute` a JOIN `attribute` b ON a.`attribute_uuid` = b.`uuid` AND b.`is_active` = 1
		JOIN `processtask_formattribute_data` c ON a.`attribute_uuid` = c.`attribute_uuid` AND a.`processtask_id` = c.`processtask_id`
		WHERE
		a.`processtask_step_id` = #{value}
	</select>

	<select id="getProcessTaskStepAttributeDataByStepId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskAttributeDataVo">
		SELECT
		a.`processtask_id` AS processTaskId,
		a.`processtask_step_id` AS processTaskStepId,
		a.`attribute_uuid` AS attributeUuid,
		c.`data`
		FROM
		`processtask_step_attribute` a JOIN `attribute` b ON a.`attribute_uuid` = b.`uuid` AND b.`is_active` = 1
		JOIN `processtask_attribute` d ON a.`attribute_uuid` = d.`attribute_uuid` AND a.`processtask_id` = d.`processtask_id`
		JOIN `processtask_attribute_data` c ON a.`attribute_uuid` = c.`attribute_uuid` AND a.`processtask_id` = c.`processtask_id`
		WHERE
		a.`processtask_step_id` = #{value}
	</select>

	<select id="getProcessTaskStepContentIdByProcessTaskStepId" parameterType="java.lang.Long" resultType="java.lang.Long">
		SELECT
		`content_id`
		FROM
		`processtask_step_content`
		WHERE
		processtask_step_id = #{value}
	</select>

	<select id="getProcessTaskStepUserByStepId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepUserVo">
		SELECT
		`processtask_id` as processTaskId,
		`processtask_step_id` as processTaskStepId,
		`user_id` as userId,
		`user_type` as userType,
		`user_name` as userName,
		`status` as status,
		`action`,
		DATE_FORMAT(`start_time`,'%Y-%m-%d %H:%i:%s') AS startTime,
		DATE_FORMAT(`end_time`,'%Y-%m-%d %H:%i:%s') AS endTime,
		DATE_FORMAT(`active_time`,'%Y-%m-%d %H:%i:%s') AS activeTime
		FROM
		`processtask_step_user`
		WHERE
		processtask_step_id = #{value}
	</select>

	<select id="searchProcessTaskStep" parameterType="codedriver.module.process.dto.ProcessTaskStepVo" resultType="codedriver.module.process.dto.ProcessTaskStepVo">
		SELECT
		`id`,
		`processtask_id` AS processTaskId,
		`name`,
		`process_step_uuid` AS processStepUuid,
		`status`,
		`result`,
		`type`,
		`handler`,
		`is_active` AS isActive,
		DATE_FORMAT(a.`start_time`,'%Y-%m-%d %H:%i:%s') AS startTime,
		DATE_FORMAT(a.`end_time`,'%Y-%m-%d %H:%i:%s') AS endTime,
		DATE_FORMAT(a.`expire_time`,'%Y-%m-%d %H:%i:%s') AS endTime,
		`error`
		FROM
		`processtask_step` a
		WHERE
		1=1
		<if test="processStepUuid != null and processStepUuid != ''">
			AND `process_step_uuid` = #{processStepUuid}
		</if>
		<if test="needPage == true">
			LIMIT #{startNum}, #{pageSize}
		</if>
	</select>

	<select id="getProcessAssignUserByToStepId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskAssignUserVo">
		SELECT
		`processtask_id` AS processTaskId,
		`from_step_id` AS fromStepId,
		`to_step_id` AS toStepId,
		`user_id` AS userId,
		`assign_time` AS assignTime
		FROM
		`processtask_assignuser`
		WHERE
		to_step_id = #{value}
		ORDER BY assign_time
	</select>

	<select id="getProcessTaskAttributeValue" resultType="codedriver.module.process.dto.ProcessTaskAttributeValueVo">
		SELECT
		`processtask_id` AS processTaskId,
		`attribute_uuid` AS attributeUuid,
		`value`
		FROM
		`processtask_attribute_value`
		WHERE
		processtask_id = #{processTaskId}
		AND
		attribute_uuid = #{attributeUuid}
	</select>

	<select id="getProcessTaskStepTimeoutPolicyByProcessTaskStepId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepTimeoutPolicyVo">
		SELECT
		`processtask_id` as processTaskId,
		`processtask_step_id` as processTaskStepId,
		`process_step_uuid` as processStepUuid,
		`policy`,
		`sort`,
		`time`,
		`config`
		FROM
		`processtask_step_timeout_policy`
		WHERE
		`processtask_step_id` = #{value}
		ORDER BY `sort`
	</select>

	<select id="getProcessTaskStepWorkerPolicyByProcessTaskStepId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepWorkerPolicyVo">
		SELECT
		`processtask_id` as processTaskId,
		`processtask_step_id` as processTaskStepId,
		`process_step_uuid` as processStepUuid,
		`policy`,
		`sort`,
		`config`
		FROM
		`processtask_step_worker_policy`
		WHERE
		`processtask_step_id` = #{value}
		ORDER BY `sort`
	</select>

	<select id="checkProcessTaskStepUserIsExists" parameterType="codedriver.module.process.dto.ProcessTaskStepUserVo" resultType="int">
		SELECT
		COUNT(1)
		FROM
		`processtask_step_user`
		WHERE
		`processtask_step_id` = #{processTaskStepId}
		AND
		`user_id` = #{userId}
	</select>

	<select id="getProcessTaskStepWorkerByProcessTaskStepId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepWorkerVo">
		SELECT
		`processtask_id` AS processTaskId,
		`processtask_step_id` AS processTaskStepId,
		`user_id` AS userId
		FROM
		`processtask_step_worker`
		WHERE
		processtask_step_id = #{value}
	</select>

	<select id="getFromProcessTaskStepByToId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepVo">
		SELECT
		a.`id`,
		a.`process_step_uuid` AS processStepUuid,
		a.`processtask_id` AS processTaskId,
		a.`status`,
		DATE_FORMAT(a.`start_time`,'%Y-%m-%d %H:%i:%s') AS startTime,
		DATE_FORMAT(a.`end_time`,'%Y-%m-%d %H:%i:%s') AS endTime,
		a.`is_active` AS isActive,
		a.`type`,
		a.`handler`,
		a.`name`
		FROM
		processtask_step a
		JOIN
		processtask_step_rel b ON a.id = b.from_processtask_step_id
		WHERE
		to_processtask_step_id = #{value}
	</select>

	<select id="getProcessTaskStepByConvergeId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepVo">
		SELECT
		b.`id`,
		b.`status`,
		b.`name`,
		b.`type`,
		b.`handler`,
		b.`is_active` AS isActive,
		a.`is_check` AS isCheck
		FROM
		`processtask_converge` a JOIN
		`processtask_step` b ON a.`processtask_step_id` = b.`id`
		WHERE
		a.`converge_id` = #{value}
	</select>

	<select id="getProcessTaskLockById" parameterType="java.lang.Long" resultType="java.lang.Long">
		SELECT id FROM processtask WHERE id = #{value} FOR UPDATE
	</select>

	<select id="getToProcessTaskStepByFromId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepVo">
		SELECT
		a.`id`,
		a.`processtask_id` AS processTaskId,
		a.`name`,
		a.`process_step_uuid` AS processStepUuid,
		a.`status`,
		a.`result`,
		a.`type`,
		a.`handler`,
		a.`is_active`,
		DATE_FORMAT(a.`start_time`, '%Y-%m-%d %H:%i:%s') AS startTime,
		DATE_FORMAT(a.`end_time`,'%Y-%m-%d %H:%i:%s') AS endTime,
		a.`error`
		FROM
		`processtask_step` a JOIN `processtask_step_rel` b ON a.`id` = b.`to_processtask_step_id`
		WHERE
		b.`from_processtask_step_id` = #{value}
	</select>

	<select id="checkProcessTaskConvergeIsExists" parameterType="codedriver.module.process.dto.ProcessTaskConvergeVo" resultType="int">
		SELECT
		COUNT(1)
		FROM
		`processtask_converge`
		WHERE
		processtask_id =
		#{processTaskId}
		AND
		converge_id = #{convergeId}
		AND
		processtask_step_id = #{processTaskStepId}
	</select>

	<select id="getProcessTaskStepByProcessTaskIdAndType" resultType="codedriver.module.process.dto.ProcessTaskStepVo">
		SELECT
		`id`,
		`processtask_id` AS processTaskId,
		`name`,
		`process_step_uuid` AS processStepUuid,
		`status`,
		`result`,
		`type`,
		`handler`,
		`is_active` AS isActive,
		`start_time`,
		`end_time`,
		`error`
		FROM
		`processtask_step`
		WHERE `processtask_id` = #{processTaskId}
		AND
		`type` = #{type}
	</select>

	<select id="getProcessTaskStepRelByToId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepRelVo">
		SELECT
		`processtask_id` AS processTaskId,
		`from_process_step_uuid` AS fromProcessStepUuid,
		`to_process_step_uuid` AS toProcessStepUuid,
		`from_processtask_step_id` AS fromProcessTaskStepId,
		`to_processtask_step_id` AS toProcessTaskStepId,
		(SELECT xx.`handler` FROM `processtask_step` xx WHERE xx.id = `to_processtask_step_id`) AS toProcessStepHandler,
		`condition`,
		`is_hit` AS isHit
		FROM
		`processtask_step_rel`
		WHERE to_processtask_step_id = #{value}
	</select>

	<select id="getProcessTaskStepRelByFromId" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepRelVo">
		SELECT
		`processtask_id` AS processTaskId,
		`from_process_step_uuid` AS fromProcessStepUuid,
		`to_process_step_uuid` AS toProcessStepUuid,
		`from_processtask_step_id` AS fromProcessTaskStepId,
		`to_processtask_step_id` AS toProcessTaskStepId,
		(SELECT xx.`handler` FROM `processtask_step` xx WHERE xx.id = `to_processtask_step_id`) AS toProcessStepHandler,
		`condition`,
		`is_hit` AS isHit
		FROM
		`processtask_step_rel`
		WHERE from_processtask_step_id = #{value}
	</select>

	<select id="getProcessTaskStepBaseInfoById" parameterType="java.lang.Long" resultType="codedriver.module.process.dto.ProcessTaskStepVo">
		SELECT
		`id`,
		`processtask_id` AS processTaskId,
		`name`,
		`process_step_uuid` AS processStepUuid,
		`status`,
		`result`,
		`type`,
		`handler`,
		`is_active` AS isActive,
		`start_time`,
		`end_time`,
		`error`
		FROM
		`processtask_step`
		WHERE id = #{value}
	</select>

	<resultMap id="processTaskStepAttributeResultMap" type="codedriver.module.process.dto.ProcessTaskStepAttributeVo">
		<id column="processTaskStepId" property="processTaskStepId" />
		<id column="attributeUuid" property="attributeUuid" />
		<id column="processTaskId" property="processTaskId" />
		<result column="isEditable" property="isEditable" />
		<result column="isRequired" property="isRequired" />
		<result column="label" property="label" />
		<result column="handler" property="handler" />
		<result column="config" property="config" />
		<result column="dataCubeTextField" property="dataCubeTextField" />
		<result column="dataCubeUuid" property="dataCubeUuid" />
		<result column="dataCubeValueField" property="dataCubeValueField" />
		<result column="help" property="help" />
		<result column="sort" property="sort" />
		<result column="unit" property="unit" />
		<result column="editTemplate" property="editTemplate" />
		<result column="viewTemplate" property="viewTemplate" />
		<result column="configTemplate" property="configTemplate" />
		<result column="data" property="data" />
		<collection property="valueList" ofType="java.lang.String">
			<result column="value" />
		</collection>
	</resultMap>

	<select id="getProcessTaskStepAttributeByStepId" parameterType="codedriver.module.process.dto.ProcessTaskStepAttributeVo" resultMap="processTaskStepAttributeResultMap">
		SELECT
		a.`processtask_step_id` AS processTaskStepId,
		a.`attribute_uuid` AS attributeUuid,
		a.`processtask_id` AS processTaskId,
		a.`is_editable` AS isEditable,
		a.`is_required` AS isRequired,
		b.`label`,
		f.`handler`,
		a.`config`,
		f.`datacube_textfield` AS dataCubeTextField,
		f.`datacube_uuid` AS dataCubeUuid,
		f.`datacube_valuefield` AS dataCubeValueField,
		b.`help`,
		b.`processtask_id` AS processTaskId,
		b.`sort`,
		f.`unit`,
		d.`value`,
		d.`attribute_uuid` AS valueAttributeUuid,
		d.`processtask_id` AS valueProcessTaskId,
		e.`data`,
		e.`attribute_uuid` AS dataAttributeUuid,
		e.`processtask_id` AS dataProcessTaskId,
		f.`edit_template` AS editTemplate,
		f.`view_template` AS viewTemplate,
		f.`config_template` AS configTemplate
		FROM
		`processtask_step_attribute` a
		JOIN `processtask_attribute` b ON a.`processtask_id` = b.`processtask_id` AND a.`attribute_uuid` = b.`attribute_uuid`
		LEFT JOIN `processtask_attribute_value` d ON a.`processtask_id` = d.`processtask_id` AND a.`attribute_uuid` = d.`attribute_uuid`
		LEFT JOIN
		`processtask_attribute_data` e ON
		a.`processtask_id` = e.`processtask_id` AND a.`attribute_uuid` = e.`attribute_uuid`
		JOIN `attribute` f ON a.`attribute_uuid` = f.`uuid`
		WHERE
		a.`processtask_step_id` = #{processTaskStepId}
		<if test="attributeUuid != null and attributeUuid != ''">
			AND
			a.attribute_uuid = #{attributeUuid}
		</if>
	</select>

	<resultMap id="processTaskStepFormAttributeResultMap" type="codedriver.module.process.dto.ProcessTaskStepFormAttributeVo">
		<id column="processTaskStepId" property="processTaskStepId" />
		<id column="attributeUuid" property="attributeUuid" />
		<id column="processTaskId" property="processTaskId" />
		<result column="isEditable" property="isEditable" />
		<result column="isRequired" property="isRequired" />
		<result column="label" property="label" />
		<result column="handler" property="handler" />
		<result column="config" property="config" />
		<result column="dataCubeTextField" property="dataCubeTextField" />
		<result column="dataCubeUuid" property="dataCubeUuid" />
		<result column="dataCubeValueField" property="dataCubeValueField" />
		<result column="sort" property="sort" />
		<result column="unit" property="unit" />
		<result column="editTemplate" property="editTemplate" />
		<result column="viewTemplate" property="viewTemplate" />
		<result column="configTemplate" property="configTemplate" />
		<result column="description" property="description" />
		<result column="data" property="data" />
		<collection property="valueList" ofType="java.lang.String">
			<result column="value" />
		</collection>
	</resultMap>

	<select id="getProcessTaskStepFormAttributeByStepId" parameterType="codedriver.module.process.dto.ProcessTaskStepFormAttributeVo" resultMap="processTaskStepFormAttributeResultMap">
		SELECT
		a.`processtask_step_id` AS processTaskStepId,
		a.`attribute_uuid` AS attributeUuid,
		a.`processtask_id` AS processTaskId,
		a.`is_editable` AS isEditable,
		a.`is_required` AS isRequired,
		a.`config`,
		f.`label`,
		f.`handler`,
		f.`datacube_textfield` AS dataCubeTextField,
		f.`datacube_uuid` AS dataCubeUuid,
		f.`datacube_valuefield` AS dataCubeValueField,
		f.`unit`,
		f.`edit_template` AS editTemplate,
		f.`view_template` AS viewTemplate,
		f.`config_template` AS configTemplate,
		f.`description`,
		d.`value`,
		d.`attribute_uuid` AS valueAttributeUuid,
		d.`processtask_id` AS valueProcessTaskId,
		e.`data`,
		e.`attribute_uuid` AS dataAttributeUuid,
		e.`processtask_id` AS dataProcessTaskId
		FROM
		`processtask_step_formattribute` a
		LEFT JOIN `processtask_formattribute_value` d ON a.`processtask_id` = d.`processtask_id` AND a.`attribute_uuid` = d.`attribute_uuid`
		LEFT JOIN `processtask_formattribute_data` e ON a.`processtask_id` = e.`processtask_id` AND a.`attribute_uuid` = e.`attribute_uuid`
		JOIN `attribute` f ON a.`attribute_uuid` =
		f.`uuid`
		WHERE
		a.`processtask_step_id` = #{processTaskStepId}
		<if test="attributeUuid != null and attributeUuid != ''">
			AND
			a.attribute_uuid = #{attributeUuid}
		</if>
	</select>

	<update id="updateProcessTaskStepConvergeIsCheck">
		UPDATE `processtask_converge` SET is_check = #{isCheck} WHERE converge_id = #{convergeId}
		AND processtask_step_id = #{processTaskStepId}
	</update>

	<update id="updateProcessTaskStepRelIsHit">
		UPDATE
		`processtask_step_rel`
		SET
		`is_hit` = #{isHit}
		WHERE `from_processtask_step_id` = #{fromProcessTaskStepId}
		<if test="toProcessTaskStepId != null">
			AND `to_processtask_step_id` = #{toProcessTaskStepId}
		</if>
	</update>

	<update id="updateProcessTaskStepStatus" parameterType="codedriver.module.process.dto.ProcessTaskStepVo">
		UPDATE
		`processtask_step`
		SET
		`status` = #{status},
		`result` = #{result, typeHandler=XssHandler},
		`is_active` = #{isActive},
		<if test="isActive == 1">
			`start_time` = NOW(3),
		</if>
		<if test="isActive == 0">
			`end_time` = NOW(3),
		</if>
		`error` = #{error, typeHandler=XssHandler}
		WHERE `id` = #{id}
	</update>

	<update id="updateProcessTaskStepExpireTime" parameterType="codedriver.module.process.dto.ProcessTaskStepVo">
		UPDATE
		`processtask_step`
		SET
		`expire_time` = #{expireTime}
		WHERE `id` = #{id}
	</update>

	<insert id="insertProcessTaskForm" parameterType="codedriver.module.process.dto.ProcessTaskFormVo">
		INSERT INTO `processtask_form` (
		`processtask_id`,
		`form_uuid`,
		`form_name`,
		`form_content`
		)
		VALUES
		(
		#{processTaskId},
		#{formUuid},
		#{formName},
		#{formContent}
		)
	</insert>

	<insert id="insertProcessTaskStepTimeoutPolicy" parameterType="codedriver.module.process.dto.ProcessTaskStepTimeoutPolicyVo">
		INSERT INTO `processtask_step_timeout_policy` (
		`processtask_id`,
		`processtask_step_id`,
		`process_step_uuid`,
		`policy`,
		`sort`,
		`time`,
		`config`
		)
		VALUES
		(
		#{processTaskId},
		#{processTaskStepId},
		#{processStepUuid},
		#{policy},
		#{sort},
		#{time},
		#{config}
		)
	</insert>

	<insert id="insertProcessTaskStepWorkerPolicy" parameterType="codedriver.module.process.dto.ProcessTaskStepWorkerPolicyVo">
		INSERT INTO `processtask_step_worker_policy` (
		`processtask_id`,
		`processtask_step_id`,
		`process_step_uuid`,
		`policy`,
		`sort`,
		`config`
		)
		VALUES
		(
		#{processTaskId},
		#{processTaskStepId},
		#{processStepUuid},
		#{policy},
		#{sort},
		#{config}
		)
	</insert>

	<insert id="insertProcessTaskAttributeValue" parameterType="codedriver.module.process.dto.ProcessTaskAttributeValueVo">
		INSERT INTO `processtask_attribute_value` (
		`processtask_id`,
		`attribute_uuid`,
		`value`
		)
		VALUES
		(
		#{processTaskId},
		#{attributeUuid},
		#{value}
		)
	</insert>

	<insert id="insertProcessTaskFormAttributeValue" parameterType="codedriver.module.process.dto.ProcessTaskAttributeValueVo">
		INSERT INTO `processtask_formattribute_value` (
		`processtask_id`,
		`attribute_uuid`,
		`value`
		)
		VALUES
		(
		#{processTaskId},
		#{attributeUuid},
		#{value}
		)
	</insert>

	<insert id="replaceProcessTaskAttributeData" parameterType="codedriver.module.process.dto.ProcessTaskAttributeDataVo">
		REPLACE INTO `processtask_attribute_data` (
		`processtask_id`,
		`attribute_uuid`,
		`data`
		)
		VALUES
		(
		#{processTaskId},
		#{attributeUuid},
		#{data}
		)
	</insert>

	<insert id="replaceProcessTaskFormAttributeData" parameterType="codedriver.module.process.dto.ProcessTaskAttributeDataVo">
		REPLACE INTO `processtask_formattribute_data` (
		`processtask_id`,
		`attribute_uuid`,
		`data`
		)
		VALUES
		(
		#{processTaskId},
		#{attributeUuid},
		#{data}
		)
	</insert>

	<insert id="insertProcessTaskConverge" parameterType="codedriver.module.process.dto.ProcessTaskConvergeVo">
		INSERT INTO `processtask_converge` (
		`converge_id`,
		`processtask_step_id`,
		`processtask_id`
		)
		VALUES
		(
		#{convergeId},
		#{processTaskStepId},
		#{processTaskId}
		)
	</insert>

	<insert id="insertProcessTaskStepWorker" parameterType="codedriver.module.process.dto.ProcessTaskStepWorkerVo">
		INSERT INTO `processtask_step_worker` (
		`processtask_id`,
		`processtask_step_id`,
		`user_id`,
		`team_id`,
		`role_name`,
		`action`
		)
		VALUES
		(
		#{processTaskId},
		#{processTaskStepId},
		#{userId},
		#{teamId},
		#{roleName},
		#{action}
		)
	</insert>

	<insert id="insertProcessTaskStepRel" parameterType="codedriver.module.process.dto.ProcessTaskStepRelVo">
		INSERT INTO `processtask_step_rel` (
		`processtask_id`,
		`from_process_step_uuid`,
		`to_process_step_uuid`,
		`from_processtask_step_id`,
		`to_processtask_step_id`,
		`condition`,
		`is_hit`
		)
		VALUES
		(
		#{processTaskId},
		#{fromProcessStepUuid},
		#{toProcessStepUuid},
		#{fromProcessTaskStepId},
		#{toProcessTaskStepId},
		#{condition},
		#{isHit}
		)
	</insert>

	<insert id="insertProcessTaskStepAttribute" parameterType="codedriver.module.process.dto.ProcessTaskStepAttributeVo">
		INSERT INTO `processtask_step_attribute` (
		`processtask_id`,
		`processtask_step_id`,
		`attribute_uuid`,
		`is_editable`,
		`is_required`,
		`config`
		)
		VALUES
		(
		#{processTaskId},
		#{processTaskStepId},
		#{attributeUuid},
		#{isEditable},
		#{isRequired},
		#{config}
		)
	</insert>

	<insert id="insertProcessTaskAttribute" parameterType="codedriver.module.process.dto.ProcessTaskAttributeVo">
		INSERT INTO `processtask_attribute` (
		`processtask_id`,
		`attribute_uuid`,
		`help`,
		`label`,
		`sort`
		)
		VALUES
		(
		#{processTaskId},
		#{attributeUuid},
		#{help,typeHandler=XssHandler},
		#{label,typeHandler=XssHandler},
		#{sort}
		)
	</insert>

	<insert id="insertProcessTaskStepTeam" parameterType="codedriver.module.process.dto.ProcessTaskStepTeamVo">
		INSERT INTO `processtask_step_team` (
		`processtask_step_id`,
		`team_id`,
		`team_name`
		)
		VALUES
		(
		#{processTaskStepId},
		#{teamId},
		#{teamName}
		)
	</insert>

	<insert id="insertProcessTaskStep" parameterType="codedriver.module.process.dto.ProcessTaskStepVo">
		<selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			select LAST_INSERT_ID() as id
		</selectKey>
		INSERT INTO `processtask_step` (
		`processtask_id`,
		`name`,
		`process_step_uuid`,
		`status`,
		`type`,
		`handler`,
		`is_active`
		)
		VALUES
		(
		#{processTaskId},
		#{name,typeHandler=XssHandler},
		#{processStepUuid},
		#{status},
		#{type},
		#{handler},
		#{isActive}
		)
	</insert>

	<insert id="insertProcessTask" parameterType="codedriver.module.process.dto.ProcessTaskVo">
		<selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			select LAST_INSERT_ID() as id
		</selectKey>
		INSERT INTO `processtask` (
		`title`,
		`process_uuid`,
		`status`,
		`config`,
		`start_time`,
		`owner`,
		`reporter`,
		`expire_time`
		)
		VALUES
		(
		#{title,typeHandler=XssHandler},
		#{processUuid},
		#{status},
		#{config},
		NOW(3),
		#{owner},
		#{reporter},
		#{expireTime}
		)
	</insert>

	<insert id="insertProcessTaskContent" parameterType="codedriver.module.process.dto.ProcessTaskContentVo">
		<selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			select LAST_INSERT_ID() as id
		</selectKey>
		INSERT INTO `processtask_content` (`content`, fcd, fcu)
		VALUES
		(#{content,typeHandler=XssHandler}, NOW(3), #{editor})
	</insert>

	<insert id="insertProcessTaskStepContent">
		INSERT INTO `processtask_step_content` (
		`processtask_step_id`,
		`content_id`
		)
		VALUES
		(
		#{processTaskStepId},
		#{contentId}
		)
	</insert>

	<insert id="insertProcessTaskStepAuditAttributeData" parameterType="codedriver.module.process.dto.ProcessTaskStepAuditAttributeDataVo">
		INSERT INTO `processtask_step_audit_attribute_data` (
		`audit_id`,
		`processtask_step_id`,
		`attribute_uuid`,
		`data`
		)
		VALUES
		(
		#{auditId},
		#{processTaskStepId},
		#{attributeUuid},
		#{data}
		)
	</insert>

	<insert id="insertProcessTaskStepAuditFormAttributeData" parameterType="codedriver.module.process.dto.ProcessTaskStepAuditFormAttributeDataVo">
		INSERT INTO `processtask_step_audit_formattribute_data` (
		`audit_id`,
		`form_uuid`,
		`processtask_step_id`,
		`attribute_uuid`,
		`data`
		)
		VALUES
		(
		#{auditId},
		#{formUuid},
		#{processTaskStepId},
		#{attributeUuid},
		#{data}
		)
	</insert>

	<insert id="insertProcessTaskStepUser" parameterType="codedriver.module.process.dto.ProcessTaskStepUserVo">
		INSERT INTO `processtask_step_user` (
		`processtask_id`,
		`processtask_step_id`,
		`user_id`,
		`user_type`,
		`user_name`,
		`status`,
		`active_time`
		)
		VALUES
		(
		#{processTaskId},
		#{processTaskStepId},
		#{userId},
		#{userType},
		#{userName},
		#{status},
		NOW(3)
		)
	</insert>

	<insert id="insertProcessTaskStepConfig">
		INSERT INTO `processtask_step_config` (`processtask_step_id`, `config`)
		VALUES
		(#{processTaskStepId}, #{config})
	</insert>

	<insert id="insertProcessTaskStepFormAttribute" parameterType="codedriver.module.process.dto.ProcessTaskStepFormAttributeVo">
		INSERT INTO `processtask_step_formattribute` (
		`processtask_id`,
		`processtask_step_id`,
		`attribute_uuid`,
		`is_editable`,
		`is_required`,
		`config`
		)
		VALUES
		(
		#{processTaskId},
		#{processTaskStepId},
		#{attributeUuid},
		#{isEditable},
		#{isRequired},
		#{config}
		)
	</insert>

	<update id="updateProcessTaskStepUserStatus" parameterType="codedriver.module.process.dto.ProcessTaskStepUserVo">
		UPDATE
		`processtask_step_user`
		SET
		`status` = #{status},
		`action` = #{action}
		<choose>
			<when test="status == 'running'">
				,`start_time` = NOW(3),
				`end_time` = null
			</when>
			<when test="status == 'succeed' or status == 'failed' or status == 'aborted'">
				,`end_time` = NOW(3)
			</when>
			<when test="status == 'pending'">
				,`active_time` = NOW(3),
				`start_time` = null,
				`end_time` = null
			</when>
		</choose>
		WHERE
		`processtask_step_id` = #{processTaskStepId}
		AND `user_id` = #{userId}
	</update>

	<delete id="deleteProcessTaskAttributeValueByProcessTaskIdAndAttributeUuid">
		DELETE
		FROM
		`processtask_attribute_value`
		WHERE `processtask_id` = #{processTaskId}
		AND `attribute_uuid` = #{attributeUuid}
	</delete>

	<delete id="deleteProcessTaskFormAttributeValueByProcessTaskIdAndAttributeUuid">
		DELETE
		FROM
		`processtask_formattribute_value`
		WHERE `processtask_id` = #{processTaskId}
		AND `attribute_uuid` = #{attributeUuid}
	</delete>

	<delete id="deleteProcessTaskStepWorker" parameterType="codedriver.module.process.dto.ProcessTaskStepWorkerVo">
		DELETE
		FROM
		`processtask_step_worker`
		WHERE `processtask_step_id` = #{processtaskStepId}
		<if test="userId != null and userId != ''">
			AND `user_id` = #{userId}
		</if>
	</delete>
	
	<delete id="deleteOtherProcessTaskStepWorker" parameterType="java.lang.String">
		DELETE
		FROM
		`processtask_step_worker`
		WHERE `processtask_step_id` = #{processtaskStepId}
		<if test="userId != null and userId != ''">
			AND `user_id` != #{userId}
		</if>
	</delete>
</mapper>