<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.process.dao.mapper.ProcessTaskAuditMapper">

	<insert id="insertProcessTaskStepAudit" parameterType="codedriver.module.process.dto.ProcessTaskStepAuditVo">
		<selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			select LAST_INSERT_ID() as id
		</selectKey>
		INSERT INTO `processtask_step_audit` (
		`processtask_id`,
		`processtask_step_id`,
		`user_id`,
		`action_time`,
		`action`,
		`content_id`
		)
		VALUES
		(
		#{processTaskId},
		#{processTaskStepId},
		#{userId},
		NOW(3),
		#{action},
		#{contentId}
		)
	</insert>
</mapper>