<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.process.dao.mapper.ProcessMapper">
	<select id="getProcessFormByProcessUuid" parameterType="java.lang.String" resultType="codedriver.module.process.dto.ProcessFormVo">
		SELECT
		`process_uuid` AS processUuid,
		`form_uuid` AS formUuid
		FROM
		`process_form`
		WHERE
		process_uuid = #{value}
	</select>

	<select id="checkProcessIsExists" parameterType="java.lang.String" resultType="int">
		SELECT
		count(1)
		FROM
		`process`
		WHERE
		uuid = #{value}
	</select>

	<select id="getProcessStepRelByProcessUuid" parameterType="java.lang.String" resultType="codedriver.module.process.dto.ProcessStepRelVo">
		SELECT
		`process_uuid` AS processUuid,
		`uuid`,
		`from_step_uuid` AS fromStepUuid,
		`to_step_uuid` AS toStepUuid,
		`condition`
		FROM
		`process_step_rel`
		WHERE
		process_uuid = #{processUuid}
	</select>
	
	
	

	<resultMap id="processStepDetailMap" type="codedriver.module.process.dto.ProcessStepVo">
		<id column="processUuid" property="processUuid" />
		<id column="uuid" property="uuid" />
		<result column="type" property="type" />
		<result column="name" property="name" />
		<result column="handler" property="handler" />
		<result column="stepConfig" property="config" />
		<collection property="formAttributeList" ofType="codedriver.module.process.dto.ProcessStepFormAttributeVo">
			<id column="formAttributeUuid" property="attributeUuid" />
			<result column="formUuid" property="formUuid" />
			<result column="formAttributeHandler" property="handler" />
			<result column="formAttributeLabel" property="label" />
			<result column="formAttributeType" property="type" />
			<result column="formAttributeIsEditable" property="isEditable" />
			<result column="formAttributeData" property="data" />
			<result column="formAttributeConfig" property="config" />
		</collection>
		<collection property="workerPolicyList" ofType="codedriver.module.process.dto.ProcessStepWorkerPolicyVo">
			<id column="workerPolicy" property="policy" />
			<result column="workerPolicyProcessUuid" property="processUuid" />
			<result column="workerPolicyProcessStepUuid" property="processStepUuid" />
			<result column="workerPolicySort" property="sort" />
			<result column="workerPolicyConfig" property="config" />
		</collection>
		<collection property="timeoutPolicyList" ofType="codedriver.module.process.dto.ProcessStepTimeoutPolicyVo">
			<result column="timeoutPolicy" property="policy" />
			<result column="timeoutPolicyProcessUuid" property="processUuid" />
			<result column="timeoutPolicyProcessStepUuid" property="processStepUuid" />
			<result column="timeoutPolicySort" property="sort" />
			<result column="timeoutPolicyConfig" property="config" />
			<result column="timeoutPolicyTime" property="time" />
		</collection>
	</resultMap>

	<select id="getProcessStepDetailByProcessUuid" parameterType="java.lang.String" resultMap="processStepDetailMap">
		SELECT
		a.`process_uuid` AS processUuid,
		a.`uuid`,
		a.`name`,
		a.`type`,
		a.`handler`,
		a.`config` AS stepConfig,
		b.`form_uuid` AS formUuid,
		b.`attribute_uuid` AS formAttributeUuid,
		b.`config` AS formAttributeConfig,
		b.`data` AS formAttributeData,
		c.`handler` AS formAttributeHandler,
		c.`type` AS formAttributeType,
		c.`label` AS attributeLabel,
		h.`policy` AS workerPolicy,
		h.`sort` AS workerPolicySort,
		h.`config` AS workerPolicyConfig,
		h.`process_uuid` AS workerPolicyProcessUuid,
		h.`process_step_uuid` AS workerPolicyProcessStepUuid,
		i.`policy` AS timeoutPolicy,
		i.`time` AS timeoutPolicyTime,
		i.`sort` AS timeoutPolicySort,
		i.`config` AS timeoutPolicyConfig,
		i.`process_uuid` AS timeoutPolicyProcessUuid,
		i.`process_step_uuid` AS timeoutPolicyProcessStepUuid
		FROM
		`process_step` a
		LEFT JOIN `process_step_formattribute` b ON a.`uuid` = b.`process_step_uuid`
		LEFT JOIN `form_attribute` c ON b.`attribute_uuid` = c.`uuid`
		LEFT JOIN `process_step_worker_policy` h ON a.`uuid` = h.`process_step_uuid`
		LEFT JOIN `process_step_timeout_policy` i ON a.`uuid` = i.`process_step_uuid`
		WHERE a.`process_uuid` = #{value}
	</select>

	<select id="getProcessStepFormAttributeByStepUuid" parameterType="codedriver.module.process.dto.ProcessStepFormAttributeVo" resultType="codedriver.module.process.dto.ProcessStepFormAttributeVo">
		SELECT
		a.`process_uuid` AS processUuid,
		a.`process_step_uuid` AS processStepUuid,
		a.`attribute_uuid` AS attributeUuid,
		a.`form_uuid` AS formUuid,
		a.`is_editable` AS isEditable,
		a.`config`,
		a.`data`,
		c.`handler`,
		c.`type`
		FROM
		`process_step_formattribute` a JOIN `form_attribute` c ON a.`attribute_uuid` = c.`uuid`
		WHERE
		a.`process_step_uuid` = #{processStepUuid}
		<if test="attributeUuid != null and attributeUuid != ''">
			AND
			a.attribute_uuid = #{attributeUuid}
		</if>
	</select>

	<resultMap id="processDetailMap" type="codedriver.module.process.dto.ProcessVo">
		<id column="uuid" property="uuid" />
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="isActive" property="isActive" />
		<result column="formUuid" property="formUuid" />
		<result column="config" property="config" />
		<result column="belong" property="belong"/>
	</resultMap>

	<select id="getProcessByUuid" parameterType="java.lang.String" resultMap="processDetailMap">
		SELECT
		a.`uuid`,
		a.`name`,
		a.`type`,
		a.`is_active` AS isActive,
		a.`config`,
		a.`belong`,
		d.`form_uuid` AS formUuid
		FROM
		`process` a
		LEFT JOIN `process_form` d ON a.`uuid` = d.`process_uuid`
		WHERE
		a.uuid = #{value}
	</select>

	<select id="getProcessBaseInfoByUuid" parameterType="java.lang.String" resultType="codedriver.module.process.dto.ProcessVo">
		SELECT
		`uuid`,
		`name`,
		`type`,
		`is_active` AS isActive,
		`config`,
		`belong`
		FROM
		`process`
		WHERE
		uuid = #{value}
	</select>

	<select id="searchProcessStep" parameterType="codedriver.module.process.dto.ProcessStepVo" resultType="codedriver.module.process.dto.ProcessStepVo">
		SELECT
		`process_uuid` AS processUuid,
		`uuid`,
		`name`,
		`type`,
		`handler`,
		`edit_page` AS editPage,
		`view_page` AS viewPage,
		`config`
		FROM
		`process_step`
		WHERE
		1=1
		<if test="processUuid != null and processUuid != ''">
			AND process_uuid = #{processUuid}
		</if>
		<if test="type != null and type != ''">
			AND `type` = #{type}
		</if>
	</select>

	<select id="getAllProcessType" resultType="codedriver.module.process.dto.ProcessTypeVo">
		SELECT `id`, `name` FROM `process_type`
	</select>
	
	<select id="checkProcessNameIsRepeat" resultType="int">
	SELECT count(1) FROM `process` WHERE name=#{name} AND uuid != #{uuid}
	</select>

	<select id="searchProcessCount" resultType="int">
	SELECT 
	COUNT(`uuid`) 
	FROM `process` 
	WHERE 1=1
	<if test="keyword != null">
	AND `name` LIKE CONCAT('%', #{keyword}, '%')
	</if>
	<if test="type != null">
	AND `type` = #{type}
	</if>
	<if test="isActive != null">
	AND `is_Active` = #{isActive}
	</if>
	<if test="fcu != null">
	AND `fcu` = #{fcu}
	</if>
	</select>
	
	<select id="searchProcessList" resultType="codedriver.module.process.dto.ProcessVo">
	SELECT 
	`uuid`,
	`name`,
	`type`,
	`is_active` AS isActive,
	`config`,
	`belong`
	FROM `process` 
	WHERE 1=1
	<if test="keyword != null">
	AND `name` LIKE CONCAT('%', #{keyword}, '%')
	</if>
	<if test="type != null">
	AND `type` = #{type}
	</if>
	<if test="isActive != null">
	AND `is_Active` = #{isActive}
	</if>
	<if test="fcu != null">
	AND `fcu` = #{fcu}
	</if>
	<if test="needPage">
	limit #{startNum}, #{pageSize}
	</if>
	</select>

	<select id="getProcessReferenceCount" parameterType="java.lang.String" resultType="int">
	SELECT COUNT(c.`uuid`)
	FROM `channel` c
	JOIN `channel_process` cp ON cp.`channel_uuid` = c.`uuid` AND cp.`process_uuid` = #{processUuid}
	</select>

	<select id="getProcessReferenceList" parameterType="codedriver.module.process.dto.ChannelProcessVo" resultType="codedriver.module.process.dto.ChannelVo">
	SELECT 
	c.`uuid`, 
	c.`name`
	FROM `channel` c
	JOIN `channel_process` cp ON cp.`channel_uuid` = c.`uuid` AND cp.`process_uuid` = #{processUuid}
	ORDER BY c.`parent_uuid`, c.`sort`
	<if test="needPage">
	limit #{startNum}, #{pageSize}
	</if>
	</select>
	
	<insert id="insertProcessStepTimeoutPolicy" parameterType="codedriver.module.process.dto.ProcessStepTimeoutPolicyVo">
		INSERT INTO `process_step_timeout_policy` (
		`process_uuid`,
		`process_step_uuid`,
		`policy`,
		`sort`,
		`time`,
		`config`
		)
		VALUES
		(
		#{processUuid},
		#{processStepUuid},
		#{policy},
		#{sort},
		#{time},
		#{config}
		)
	</insert>

	<insert id="insertProcess" parameterType="codedriver.module.process.dto.ProcessVo">
		INSERT INTO `process` (
		`uuid`,
		`name`,
		`type`,
		`is_active`,
		`config`,
		`fcd`,
		`fcu`
		)
		VALUES
		(
		#{uuid},
		#{name},
		#{type},
		#{isActive},
		#{config},
		now(),
		#{fcu}
		)
	</insert>

	<insert id="insertProcessStep" parameterType="codedriver.module.process.dto.ProcessStepVo">
		INSERT INTO `process_step` (
		`process_uuid`,
		`uuid`,
		`name`,
		`type`,
		`handler`,
		`config`,
		`description`
		)
		VALUES
		(
		#{processUuid},
		#{uuid},
		#{name},
		#{type},
		#{handler},
		#{config},
		#{description}
		)
	</insert>

	<insert id="insertProcessStepWorkerPolicy" parameterType="codedriver.module.process.dto.ProcessStepWorkerPolicyVo">
		INSERT INTO `process_step_worker_policy` (
		`process_uuid`,
		`process_step_uuid`,
		`policy`,
		`sort`,
		`config`
		)
		VALUES
		(
		#{processUuid},
		#{processStepUuid},
		#{policy},
		#{sort},
		#{config}
		)
	</insert>

	<insert id="insertProcessStepFormAttribute" parameterType="codedriver.module.process.dto.ProcessStepFormAttributeVo">
		INSERT INTO `process_step_formattribute` (
		`process_uuid`,
		`process_step_uuid`,
		`form_uuid`,
		`attribute_uuid`,
		`is_editable`,
		`config`,
		`data`
		)
		VALUES
		(
		#{processUuid},
		#{processStepUuid},
		#{formUuid},
		#{attributeUuid},
		#{isEditable},
		#{config},
		#{data}
		)
	</insert>

	<insert id="insertProcessStepRel" parameterType="codedriver.module.process.dto.ProcessStepRelVo">
		INSERT INTO `process_step_rel` (
		`process_uuid`,
		`uuid`,
		`from_step_uuid`,
		`to_step_uuid`,
		`condition`
		)
		VALUES
		(
		#{processUuid},
		#{uuid},
		#{fromStepUuid},
		#{toStepUuid},
		#{condition}
		)
	</insert>

	<insert id="insertProcessStepTeam" parameterType="codedriver.module.process.dto.ProcessStepTeamVo">
		INSERT INTO `process_step_team` (
		`process_step_uuid`,
		`team_id`,
		`team_name`
		)
		VALUES
		(
		#{processStepUuid},
		#{teamId},
		#{teamName}
		)
	</insert>

	<insert id="insertProcessStepUser" parameterType="codedriver.module.process.dto.ProcessStepUserVo">
		INSERT INTO `process_step_user` (
		`process_uuid`,
		`process_step_uuid`,
		`user_id`,
		`user_name`,
		`sort`
		)
		VALUES
		(
		#{processUuid},
		#{processStepUuid},
		#{userId},
		#{userName},
		#{sort}
		)
	</insert>

	<insert id="replaceProcessForm">
		REPLACE INTO `process_form` (`process_uuid`, `form_uuid`)
		VALUES
		(#{processUuid}, #{formUuid})
	</insert>
	
	<update id="updateProcess" parameterType="codedriver.module.process.dto.ProcessVo">
	UPDATE `process` SET 
	<if test="name != null and name != ''">
	`name` = #{name},
	</if>
	<if test="type != null">
	`type` = #{type},
	</if> 
	<if test="isActive != null">
	`is_active` = #{isActive},
	</if>
	<if test="config != null">
	`config` = #{config},
	</if>
	`uuid` = #{uuid}
	WHERE `uuid` = #{uuid}
	</update>

	<delete id="deleteProcessStepByProcessUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`process_step`
		WHERE `process_uuid` = #{uuid}
	</delete>

	<delete id="deleteProcessStepRelByProcessUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`process_step_rel`
		WHERE `process_uuid` = #{value}
	</delete>

	<delete id="deleteProcessStepUserByProcessUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`process_step_user`
		WHERE `process_uuid` = #{value}
	</delete>

	<delete id="deleteProcessStepTeamByProcessUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`process_step_team`
		WHERE `process_uuid` = #{value}
	</delete>

	<delete id="deleteProcessStepWorkerPolicyByProcessUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`process_step_worker_policy`
		WHERE process_uuid = #{value}
	</delete>

	<delete id="deleteProcessStepTimeoutPolicyByProcessUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`process_step_timeout_policy`
		WHERE `process_uuid` = #{value}
	</delete>

	<delete id="deleteProcessStepFormAttributeByProcessUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`process_step_formattribute`
		WHERE `process_uuid` = #{value}
	</delete>
	
	<delete id="deleteProcessByUuid" parameterType="java.lang.String">
		DELETE FROM `process` WHERE `uuid` = #{uuid}
	</delete>
</mapper>