<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.process.dao.mapper.ProcessTaskAttributeMapper">
	<resultMap id="processTaskStepAttributeResultMap" type="codedriver.module.process.dto.ProcessTaskStepAttributeVo">
		<id property="processTaskStepId" column="processTaskStepId" />
		<id property="processTaskAttributeId" column="processTaskAttributeId" />
		<result property="isDisplay" column="isDisplay" />
		<result property="isEditable" column="isEditable" />
		<result property="isRequired" column="isRequired" />
		<association property="attributeVo" javaType="codedriver.module.process.dto.ProcessTaskAttributeVo">
			<result property="id" column="processTaskAttributeId" />
			<result property="name" column="name" />
			<result property="label" column="label" />
			<result property="handler" column="handler" />
			<result property="help" column="help" />
			<result property="dataCubeValueField" column="dataCubeValueField" />
			<result property="dataCubeTextField" column="dataCubeTextField" />
			<result property="processTaskId" column="processTaskId" />
			<result property="sort" column="processTaskSort"/>
			<association property="dataCubeVo" javaType="codedriver.module.process.dto.ProcessDataCubeVo">
				<id property="id" column="dataCubeId" />
				<result property="name" column="dataCubeName" />
				<result property="sql" column="dataCubeSql" />
				<result property="url" column="dataCubeUrl" />
				<result property="value" column="dataCubeValue" />
			</association>
		</association>
	</resultMap>

	<select id="getProcessAttributeListByProcessTaskAndStepId" resultMap="processTaskStepAttributeResultMap">
		SELECT
		`processtask_step_id` AS processTaskStepId,
		`is_display` AS isDisplay,
		`is_editable` AS isEditable,
		`is_required` AS
		isRequired,
		b.`datacube_valuefield` AS dataCubeValueField,
		b.`datacube_textfield` AS dataCubeTextField,
		b.`handler`,
		b.`help`,
		b.`label`,
		b.`name`,
		b.`id` AS processTaskAttributeId,
		b.`processtask_id` AS processTaskId,
		b.`sort` AS processTaskSort,
		c.`name` AS dataCubeName,
		c.`id` AS dataCubeId,
		c.`sql` AS dataCubeSql,
		c.`url` AS dataCubeUrl,
		c.`value` AS dataCubeValue
		FROM
		`processtask_step_attribute` a
		JOIN `processtask_attribute` b
		ON a.`processtask_attribute_id` = b.`id`
		LEFT JOIN process_datacube c
		ON b.`datacube_id` = c.`id`
		WHERE b.`processtask_id` = #{processTaskId}
		AND a.processtask_step_id = #{processTaskStepId}
		ORDER By b.sort
	</select>
</mapper>